%section
  .mb-3
    - if @campaign.opened?
      진행 시간
      %h4.campaign-time-to-left.js-campaign-time-to-left.hidden-xs{ 'data-campaign-time-to-left-due-date': bot_day_f(@campaign.opened_at)}
        %span.digit-to-left.days ___
        %span.div 일
        %span.digit-to-left.hours __
        %span.div :
        %span.digit-to-left.minutes __
        %span.div :
        %span.digit-to-left.seconds __
    - else
      %h4.font-weight-bold.campaign-time-to-left.hidden-xs
        .font-weight-normal 종료일
        .digit-to-left.days= static_day_f(@campaign.closed_at)
    .my-3
      %p
        - if @campaign.opened?
          현재 #{number_with_delimiter(@campaign.order_count)}명이 촉구하였습니다.
        - else
          총 #{number_with_delimiter(@campaign.order_count)}명이 촉구하였습니다.

    - if @campaign.has_goal?
      .progress.campaign-progress-bar
        .progress-bar.progress-bar-striped.bg-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{@campaign.percentage_order}", :role => "progressbar", :style => "width: #{@campaign.percentage_order(100)}%;"}
          #{@campaign.percentage_order}%
      .d-flex.justify-content-between
        %small
          촉구 #{number_with_delimiter(@campaign.order_count, delimiter:",")}
        %small
          목표 #{number_with_delimiter(@campaign.goal_count, delimiter:",")}

  .my-3
    %ul.text-muted.list-unstyled
      - @campaign.highlight_ordered_comments(3).each do |comment|
        %li
          %small
            #{comment.user_nickname}님이 촉구하셨습니다.
      %li
        %small= link_to '더 보기 >', comments_campaign_path(@campaign)

    - if @campaign.opened?
      .campaign-sign-form
        - if @campaign.agents.any?
          = link_to [:new_comment_agent, @campaign], class: "btn btn-danger btn-lg btn-block campaign-sign-btn" do
            촉구하기

.d-block.d-sm-none{ style: "background-color: #dee2e6; height: 0.5rem; margin: 2rem -1rem 0" }