%legend.m-t 서명 상세 설정

.form-group
  = f.label :sign_title
  = f.text_field :sign_title, class: 'form-control'
  %p.help-block
    서명 영역의 내용 입력폼 제목을 정합니다. 비워두면 적절히 표시됩니다.

.form-group
  = f.label :sign_placeholder
  ~ f.text_area :sign_placeholder, class: 'form-control'
  %p.help-block
    서명 영역의 내용 입력폼 예시글을 정합니다. 비워두면 적절히 표시됩니다.

.form-group
  .checkbox
    %label
      = f.check_box :use_signer_real_name
      %strong= Campaign.human_attribute_name("use_signer_real_name")
  %p.help-block
    체크해 두면 실명을 받습니다.(선택사항)

.form-group
  = f.label :signer_real_name_title
  = f.text_field :signer_real_name_title, class: 'form-control'
  %p.help-block
    서명 영역의 실명 입력폼 제목을 정합니다. 비워두면 적절히 표시됩니다.

.form-group
  = f.label :use_signer_email
  = f.select :use_signer_email, Campaign.use_signer_email.options, class: 'form-control'
  %p.help-block
    이메일을 받지 않거나(사용하지 않음) 반드시 받거나(필수 입력), 입력란은 보여주되 입력하지 않아도 됩니다.(옵션 입력)

.form-group
  = f.label :signer_email_title
  = f.text_field :signer_email_title, class: 'form-control'
  %p.help-block
    서명 영역의 이메일 입력폼 제목을 정합니다. 비워두면 적절히 표시됩니다.

.form-group
  = f.label :use_signer_address
  = f.select :use_signer_address, Campaign.use_signer_address.options, class: 'form-control'
  %p.help-block
    주소를 받지 않거나(사용하지 않음) 반드시 받거나(필수 입력), 입력란은 보여주되 입력하지 않아도 됩니다.(옵션 입력)

.form-group
  = f.label :signer_address_title
  = f.text_field :signer_address_title, class: 'form-control'
  %p.help-block
    서명 영역의 주소 입력폼 제목을 정합니다. 비워두면 적절히 표시됩니다.

.form-group
  = f.label :use_signer_country
  = f.select :use_signer_country, Campaign.use_signer_country.options, class: 'form-control'
  %p.help-block
    국가를 받지 않거나(사용하지 않음) 반드시 받거나(필수 입력), 입력란은 보여주되 입력하지 않아도 됩니다.(옵션 입력)

.form-group
  = f.label :signer_country_title
  = f.text_field :signer_country_title, class: 'form-control'
  %p.help-block
    서명 영역의 국가 입력폼 제목을 정합니다. 비워두면 적절히 표시됩니다.

.form-group
  = f.label :use_signer_city
  = f.select :use_signer_city, Campaign.use_signer_city.options, class: 'form-control'
  %p.help-block
    지역을 받지 않거나(사용하지 않음) 반드시 받거나(필수 입력), 입력란은 보여주되 입력하지 않아도 됩니다.(옵션 입력)

.form-group
  = f.label :signer_city_title
  = f.text_field :signer_city_title, class: 'form-control'
  %p.help-block
    서명 영역의 지역 입력폼 제목을 정합니다. 비워두면 적절히 표시됩니다.


.form-group
  = f.label :use_signer_phone
  = f.select :use_signer_phone, Campaign.use_signer_phone.options, class: 'form-control'
  %p.help-block
    연락처를 받지 않거나(사용하지 않음) 반드시 받거나(필수 입력), 입력란은 보여주되 입력하지 않아도 됩니다.(옵션 입력)

.form-group
  = f.label :signer_phone_title
  = f.text_field :signer_phone_title, class: 'form-control'
  %p.help-block
    서명 영역의 연락처 입력폼 제목을 정합니다. 비워두면 적절히 표시됩니다.

%legend.m-t 댓글 상세 설정

.form-group
  .checkbox
    %label
      = f.check_box :comment_enabled
      = Campaign.human_attribute_name("comment_enabled")
  %p.help-block
    체크해 두면 캠페인에서 댓글이 사용됩니다.
