.response-present
  .response-counts
    .response-count
      .response-tag.agree 찬성
      .count= campaign.statements.group(:stance).count['agree'] || 0
    .response-count
      .response-tag.disagree 반대
      .count= campaign.statements.group(:stance).count['disagree'] || 0
    .response-count
      .response-tag.noresponse 무응답
      .count= campaign.statements.group(:stance).count['unsure'] || 0
  - if campaign.opened?
    .response-text
      반대, 무응답자를 한번에 촉구해보세요.
    = link_to [:new_comment_agent, campaign], class: 'response-btn' do
      #{campaign.agents.count}명
      모두에게 촉구하기
