%legend.m-t 서명 상세 설정

.form-group
  .checkbox
    %label
      = f.check_box :use_signer_real_name
      = Campaign.human_attribute_name("use_signer_real_name")
  %p.help-block
    체크해 두면 실명을 받습니다.(선택사항)

.form-group
  .checkbox
    %label
      = f.check_box :use_signer_email
      = Campaign.human_attribute_name("use_signer_email")
  %p.help-block
    체크해 두면 이메일 주소를 받습니다.(선택사항)

.form-group
  = f.label :use_signer_address
  = f.select :use_signer_address, Campaign.use_signer_address.options, class: 'form-control'
  %p.help-block
    집주소를 받지 않거나(제외) 반드시 받거나(필수), 입력란은 보여주되 입력하지 않아도 됩니다.(생략가능)

.form-group
  .checkbox
    %label
      = f.check_box :use_signer_phone
      = Campaign.human_attribute_name("use_signer_phone")
  %p.help-block
    체크해 두면 전화번호를 받습니다.(선택사항)

.form-group
  = f.label :confirm_privacy
  %p.help-block
    개인보호 정책 동의에 추가할 문구입니다.(선택사항)
  ~ f.text_area :confirm_privacy, class: 'form-control redactor'

