%section.section-cover
  .info-container
    .meta
      - buttons = capture do
        - if can? :edit, @campaign
          = link_to edit_campaign_path(@campaign) do
            %span{ style: "color:white; font-weight: 200;" }
              %i.fa.fa-edit
              캠페인 수정
          &nbsp;
        - if can? :edit, @campaign
          = link_to edit_agents_campaign_path(@campaign) do
            %span{ style: "color:white; font-weight: 200;" }
              %i.fa.fa-paper-plane-o
              촉구 관리
          &nbsp;
        - if can? :destroy, @campaign
          = link_to @campaign, method: :delete, data: { confirm: '삭제하시겠습니까?' } do
            %span{ style: "color:white; font-weight: 200;" }
              %i.fa.fa-trash
              캠페인 삭제
          &nbsp;
        - if can? :edit, @campaign
          = link_to data_campaign_path(@campaign, format: :xlsx) do
            %span.text-nowrap{ style: "color:white; font-weight: 200;" }
              %i.fa.fa-download
              서명 참여 데이터
          &nbsp;
          - if @campaign.agents.any?
            = link_to orders_data_campaign_path(@campaign, format: :xlsx) do
              %span.text-nowrap{ style: "color:white; font-weight: 200;" }
                %i.fa.fa-download
                촉구 참여 데이터
            &nbsp;
      - if buttons.present?
        %p
          %span.control-buttons{ style: 'background-color: rgba(0,0,0,0.5); padding: 5px 10px 2px;' }
            = buttons

      - if @campaign.success?
        .label
          성공
      .label
        서명
      - if @campaign.agents.any?
        .agent-info
          대상: #{@campaign.agents.first.name}
          - if @campaign.agents.count > 1
            외 #{@campaign.agents.count - 1}

    .campaign-title
      = @campaign.title

    .user
      .user-image-xs{ style: "background-image:url(#{asset_url(@campaign.user.image.md.url)});" }
      = link_to @campaign.user.nickname, @campaign.user, class: 'user-name'

  .cover-image{ style: "background-color: #777;" }
    - uid_header_bg = build_uid
    - uid_alpha_linear = build_uid
    - uid_mask = build_uid
    .overlay{ style: 'position: absolute; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.1);' }
    %svg{height: "100%", width: "100%", preserveAspectRatio: "xMidYMid slice", version: "1.1", xmlns: "http://www.w3.org/2000/svg"}
      %defs
        %lineargradient{ id: uid_alpha_linear, x0: "10%", x1: "90%", y1: "0%", y2: "100%" }
          %stop{:offset => "0%", "stop-color" => "#ffffff", "stop-opacity" => "1"}
          %stop{:offset => "70%", "stop-color" => "#aaaaaa", "stop-opacity" => "0.7"}
        %mask{ id: uid_mask }
          %rect{:fill => "url(##{uid_alpha_linear})", :height => "100%", :width => "100%", :x => "0", :y => "0"}
      %filter{ id: uid_header_bg }
        %fegaussianblur{in: "SourceGraphic", stdDeviation: "3"}
      %image{externalResourcesRequired: "true", height: "100%", width: "100%", preserveAspectRatio: "xMidYMid slice", style: "filter:url(##{uid_header_bg})", mask: "url(##{uid_mask})", x: "0", y: "0", "xlink:href": (@campaign.read_attribute(:cover_image).present? ? @campaign.cover_image.lg.url : asset_url("default-image.png")), "xmlns:xlink": "http://www.w3.org/1999/xlink"}
