%section.border-bottom.border-primary.p-2
  %ul.nav.nav-pills.justify-content-center
    %li.nav-item
      = link_to '내용', campaign_path, class: class_string("mx-2 nav-link" => true, "active" => menu == 'content')
    %li.nav-item
      = link_to signers_campaign_path, class: class_string("mx-2 nav-link" => true, "active" => menu == 'signer') do
        서명
        - if @campaign.signs.any?
          %small
            = number_with_limit(@campaign.signs.size, 1000)
    - if @campaign.agents.any?
      %li.nav-item
        = link_to '촉구', orders_campaign_path, class: class_string("mx-2 nav-link" => true, "active" => menu == 'order')
    %li.nav-item
      = link_to '소식', stories_campaign_path, class: class_string("mx-2 nav-link" => true, "active" => menu == 'story')
    - if can? :edit, @campaign
      %li.nav-item
        = link_to edit_campaign_path(@campaign), class: class_string("mx-2 nav-link" => true, "active" => menu == 'edit') do
          %i.fa.fa-gear
          관리
