= render 'campaigns/petition/section_cover'
= render 'campaigns/petition/section_tab', menu: 'content'

%section
  .container
    .row
      .col-sm-4.order-sm-2
        %section.mt-5
          = render 'campaigns/petition/section_right'

      .col-sm-8.order-sm-1
        %section.my-5
          .campaign-body
            = raw @campaign.body

          - if true || @campaign.opened?
            .alert.alert-warning
              이 캠페인은 #{static_day_f(@campaign.opened_at)}에 시작되었습니다.

        %section.my-5
          %h3.font-weight-bold 서명
          .card.mb-2.bg-warning
            .card-body
              - if true || @campaign.opened?
                %p
                  현재 #{number_with_delimiter(@campaign.signs.size, delimiter:",")}명이 서명하였습니다.
                  - if !@campaign.signed?(current_user)
                    - if true || @campaign.has_goal?
                      #{number_with_delimiter(@campaign.goal_count, delimiter:",")}명
                    서명에 동참해주세요.
              - if @campaign.has_goal?
                .progress.campaign-progress-bar
                  .progress-bar.progress-bar-striped.bg-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{@campaign.percentage}", :role => "progressbar", :style => "width: #{@campaign.percentage}%;"}
                    #{@campaign.percentage}%
                  - if @campaign.success?
                    .success-badge
                      성공
                    .signs-bar{ style: "width: 100%" }
                  - else
                    .signs-bar{ style: "width: #{@campaign.percentage}%" }
              .d-flex.justify-content-between
                %small
                  서명 #{number_with_delimiter(@campaign.signs.size, delimiter:",")}
                %small
                  목표 #{number_with_delimiter(@campaign.goal_count, delimiter:",")}

          %section.mb-3
            = render 'campaigns/petition/signers', signs: @campaign.signs.recent.limit(20), finite: true
            .p-3= link_to '더 보기 >', signers_campaign_path(@campaign)

          - if @campaign.opened?
            .d-none.d-sm-block.campaign-sign-form{ style: 'padding: 0; border-top: none;' }
              - if @campaign.signed?(current_user)
                .btn.btn-danger.btn-lg.btn-block.campaign-sign-btn.cursor-default{ style: 'background: white; color: #000; opacity: 1  ; border: 1px solid  #1779f3;' }
                  #{current_user.nickname}님은
                  서명하셨습니다.
              - else
                = link_to '서명하기', sign_form_campaign_path(@campaign), remote: true, class: "btn btn-danger btn-lg btn-block campaign-sign-btn"

    = render 'campaigns/petition/sign_button'
