= render 'campaigns/petition/section_cover'

= render 'campaigns/petition/section_tab', menu: 'comment'

%section.section-panel
  = render 'campaigns/petition/section_right'

  %section.section-left
    %section.section-comments
      .section-title
        의견을 공유해 보세요
      = render 'campaigns/petition/comment_form_line', campaign: @campaign
      .comment-filter
        .filters
          .filters-left
            - if user_signed_in?
              .my-comment.js-my-comment 내 글 보기
          .filters-right
            .filter.js-order-by-recent 최신순
            .filter.js-order-by-like-count 공감순
            = select_tag "CommentTarget", options_from_collection_for_select(@campaign.agents, :name, :name), class: 'filter-select-agent', include_blank: true, prompt: '촉구대상별 보기'
      = render 'campaigns/petition/comments', comments: @campaign.comments.recent.page(1)

= render 'campaigns/petition/sign_button'
