%section.page-block
  .page-header
    %h2 발언자

  .panel.panel-default
    .panel-body
      = form_tag nil, class: 'form-inline', method: :get do
        .form-group
          %label 키워드 :
          = text_field_tag :q, params[:q]
        &nbsp;
        \/
        &nbsp;
        .form-group
          %label 포지션 :
          = text_field_tag :position, params[:position]
        = submit_tag '찾기', class: 'btn btn-default btn-sm'

  .panel.panel-default
    %table.table.table-bordered
      %thead
        %tr
          %th 이름
          %th 주요 설명
          %th 개인/조직 구분
          %th 포지션
          %th.text-right
            = link_to '추가', new_admin_agent_path, class: 'btn btn-sm btn-primary'
      %tbody
        - @agents.each do |agent|
          %tr
            %td
              %h5= agent.name
            %td= agent.organization
            %td= agent.category_text
            %td
              - agent.positions.each do |position|
                = position.name
                = link_to '(삭제)', resign_position_admin_agent_path(agent, position_name: position.name), data: { confirm: "정말 #{position.name}에서 삭제합니까?" }, method: :delete
                %br
            %td.text-right
              = link_to '수정', edit_admin_agent_path(agent), class: 'btn btn-sm btn-default'
              = link_to '삭제', admin_agent_path(agent), method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }, class: 'btn btn-sm btn-danger'

  .text-center
    = paginate @agents, theme: 'twitter-bootstrap-3'
