%div.modal.fade{id: modal_dom_id, :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &#215;
        %h4.modal-title 의견 남기기

      .modal-body
        .comments-form
          = form_for Comment.new, html: { class: 'gov-action-form-validation' } do |f|
            = f.hidden_field :commentable_type, value: commentable.class.to_s
            = f.hidden_field :commentable_id, value: commentable.id
            .gov-action-form-grecaptcha
            - unless user_signed_in?
              .form-group
                = f.label :commenter_name
                = f.text_field :commenter_name, class: 'form-control', data: { 'rule-required': true }
              .form-group
                = f.label :commenter_email
                = f.text_field :commenter_email, class: 'form-control'
            .form-group
              ~ f.text_area :body, placeholder: '제 생각은...', class: 'form-control validate ' + ( is_redactorable? ? 'redactor' : ''), data: { 'rule-required': true }
            - if commentable.try(:confirm_privacy).present?
              .form-group
                .campaign-sign-privacy-policy
                  댓글을 등록하시면 본 서명의
                  %a{ "data-target" => "#privacy-modal", "data-toggle" => "modal", :type => "button", style: 'cursor:pointer' }
                    개인정보취급방침
                  에 동의하게 됩니다.
                #privacy-modal.modal.fade{:role => "dialog", :tabindex => "0"}
                  .modal-dialog{:role => "document"}
                    .modal-content
                      .modal-header
                        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                          %span{"aria-hidden" => "true"} &#215;
                        %h4.modal-title 개인정보취급방침
                      .modal-body
                        != commentable.confirm_privacy
            = f.submit '작성', class: 'btn btn-primary btn-block'
