%div.modal.fade{id: modal_dom_id, :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &#215;
        %h4.modal-title 의견 남기기

      .modal-body
        .comments-form
          = form_for Comment.new, html: { class: 'gov-action-form-validation' } do |f|
            = f.hidden_field :commentable_type, value: commentable.class.to_s
            = f.hidden_field :commentable_id, value: commentable.id
            .gov-action-form-grecaptcha
            - unless user_signed_in?
              .form-group
                = f.label :commenter_name
                = f.text_field :commenter_name, class: 'form-control', data: { 'rule-required': true }
              .form-group
                = f.label :commenter_email
                = f.text_field :commenter_email, class: 'form-control'
            .form-group
              = f.hidden_field :is_html_body, value: is_redactorable?
              - unless is_redactorable?
                - f.object.body = Html2Text.convert(f.object.body)
              ~ f.text_area :body, placeholder: '제 생각은...', class: 'form-control validate ' + ( is_redactorable? ? 'redactor' : ''), style: 'height: 150px', data: { 'rule-required': true }
            = render "campaigns/checkbox_term", f: f, campaign: commentable
           
            = f.submit '작성', class: 'btn btn-primary btn-block'
