- view = proc do
  %section.widget-section
    .yell
      총
      %span
        %span.count<> #{number_with_delimiter(@campaign.order_count, delimiter:",")}
        명이
      촉구하였습니다.
    .graph
      .base
        .gage{ style: "width: #{@campaign.percentage_order(100)}%" }
          &nbsp;#{@campaign.percentage_order}%&nbsp;
      .desc
        .column.-left
          참여 #{number_with_delimiter(@campaign.order_count, delimiter:",")}
        .column.-right
          목표 #{number_with_delimiter(@campaign.goal_count, delimiter:",")}
    .statements
      .head
        .title 답변
      .list
        - @campaign.any_body_agents.each do |agent|
          - statement = @campaign.cached_statement_of(agent)
          .statement
            .image{ style: "background-image: url(#{agent.image.md.url});" }
            .main
              .header
                .label{ class: "-#{statement.stance_code}" }
                  = statement.stance_text_human
                .agent
                  .name= agent.name
                  .organization= agent.organization
              .body.js-read-more
                != statement.body

    .score
      .head
        .title 응답 현황
        = link_to '자세히 보기', campaign_path(@campaign), target: '_blank', class: 'more'
      .boards
        - if @campaign.stancable?
          .board
            .label 찬성
            .count.-agree #{@campaign.agree_agents.count || 0}
          .board
            .label 반대
            .count.-disagree #{@campaign.disagree_agents.count || 0}
          .board
            .label 무응답
            .count.-unsure #{@campaign.unsure_agents.count || 0}
        - else
          .board
            .label 응답
            .count.-sure #{@campaign.any_body_agents.count || 0}
          .board
            .label 무응답
            .count.-unsure #{@campaign.blank_body_agents.count || 0}
    .agents
      .filters
        - if @campaign.stancable?
          .filter.-active.js-widget-agents-filter{ data: { 'widget-agents-filter-stance': '' } } 전체
          .filter.js-widget-agents-filter{ data: { 'widget-agents-filter-stance': 'agree' } } 찬성
          .filter.js-widget-agents-filter{ data: { 'widget-agents-filter-stance': 'disagree' } } 반대
          .filter.js-widget-agents-filter{ data: { 'widget-agents-filter-stance': 'unsure' } } 무응답
        - else
          .filter.-active.js-widget-agents-filter{ data: { 'widget-agents-filter-stance': '' } } 전체
          .filter.js-widget-agents-filter{ data: { 'widget-agents-filter-stance': 'sure' } } 응답
          .filter.js-widget-agents-filter{ data: { 'widget-agents-filter-stance': 'unsure' } } 무응답
      .list.row.js-widget-agents-filter-list
        - @campaign.total_action_assignables.each do |action_assignable|
          - @campaign.agents(action_assignable).each do |agent|
            - statement = @campaign.cached_statement_of(agent)
            .agent.col-sm-4.col-12{ class: "js-widget-agents-filter-item js-widget-agents-filter-item-#{statement.try(:stance_code).presence || 'unsure'}" }
              .image{ style: "background-image:url(#{asset_url(agent.image.md.url)});" }
              .name
                = agent.name
                .organization= agent.organization
              .stance{ class: "-#{statement.try(:stance_code).presence || 'unsure'}" }
                = statement.try(:stance_text_human).presence || StatementDecorator::UNSURE_STANCE_TEXT_HUMAN
        .empty
          해당 촉구대상이 없습니다.
    .poweredby
      = render 'campaigns/widget/v1/content/powered_by'

  = render 'campaigns/widget/v1/content_script.js'

- if Rails.env.production?
  - cache "campaign-orders-show-status-widget3-#{@campaign.id}", race_condition_ttl: 30.seconds, expires_in: 10.minutes, &view
- else
  - view.call