%section
  .container
    .row
      .col-sm-4.order-sm-2
        %section.mt-5
          = render "campaigns/#{@campaign.template_path_name}/section_right"

      .col-sm-8.order-sm-1
        .campaign-body.my-5
          = raw @campaign.body

          - if true || @campaign.opened?
            .alert.alert-warning
              이 캠페인은 #{static_day_f(@campaign.opened_at)}에 시작되었습니다.

        .d-block.d-sm-none{ style: "background-color: #dee2e6; height: 0.5rem; margin: 2rem -1rem 0" }

        - if @campaign.agents.any?
          %section.my-5
            %h3.font-weight-bold 촉구하기

            - if @campaign.opened?
              .alert.alert-primary.mb-1
                지금
                = link_to [:new_comment_agent, @campaign], class: 'underline' do
                  #{@campaign.agents.first.name}
                  - if @campaign.agents.count > 1
                    외 #{@campaign.agents.count - 1}
                에게 촉구해 보세요.

                - if @campaign.order_count >= 1
                  시민 #{@campaign.order_count}분이 참여하였습니다.
                - else
                  지금 바로 촉구에 참여해 보세요.

            - cache ["campaigns/order/show/order_dashboard", @campaign], race_condition_ttl: 30.seconds, expires_in: 1.hours do
              = render 'campaigns/order_dashboard', campaign: @campaign

        %section.my-5
          %h3.font-weight-bold 의견
          = render 'comments/form_line', commentable: @campaign
          = render 'comments/page_formal', commentable: @campaign, comments: @campaign.comments.recent.page(1), finite: true
          .p-3= link_to '더 보기 > ', comments_campaign_path(@campaign)

    = render 'campaigns/order_button_sticky', campaign: @campaign
