= render 'campaigns/order/section_cover'

= render 'campaigns/order/section_tab', menu: 'comment'

%section.section-panel
  = render 'campaigns/order/section_right'

  %section.section-left
    %section.section-comments
      .section-title
        의견을 공유해 보세요!
      - page_dom_id = build_uid
      - extra = capture do
        = render 'campaigns/comments_privacy_confirm', campaign: @campaign
      = render 'comments/form_line', commentable: @campaign, extra: extra
      = render 'comments/page_formal', commentable: @campaign, comments: @campaign.comments.recent.page(1), dom_id: page_dom_id

= render 'campaigns/order_button_sticky', campaign: @campaign
