= render "cover", menu: "order"

%section
  .container
    .row
      .col-sm-4.order-sm-2
        %section.mt-5
          = render "campaigns/#{@campaign.template_path_name}/section_right"

      .col-sm-8.order-sm-1
        %section.my-5
          %h3.font-weight-bold
            - if @campaign.closed?
              "#{@campaign.title}"의 응답 현황입니다.
            - else
              지금 촉구해 보세요.

          = render 'campaigns/order_dashboard', campaign: @campaign

    = render 'campaigns/order_button_sticky', campaign: @campaign
= render "campaigns/analytics"