- all_count = agents.count
- agents = agents.shuffle[0...max_count] if local_assigns[:max_count]
- button_label = quote.nil? ? "#{Opinion.model_name.human} <span class='text-nowrap'>요청하기</span>" : "<span class='text-nowrap'>촉구하기</span>"
- hide_request ||= false
- agenda_id = @agenda.try(:id)

.answer-agents
  .row
    - agents.each do |agent|
      .col-12{ style: 'padding: 6px 0;' }
        .agent
          .bg-dark.card.m-1.text-white
            .row.no-gutters
              .col-6
                %img.card-img{ style: "height: 6.5rem; object-fit: cover; object-position: 0 -10px;", src: agent.image.lg.url }
              .col-6
                .card-body.p-2
                  .mb-1.card-title
                    = link_to agent_path(agent), class: 'text-white' do
                      %strong= agent.name
                      %small= agent.organization
                .card-text.p-2
                  %small
                    - if !hide_request and @agenda.present?
                      = link_to new_email_agenda_path(@agenda, agent_id: agent.id), target: ('_wyp' if local_assigns[:widget]), class: "btn btn-sm #{agent.requested_by?(current_user) ? 'btn-default' : 'btn-primary'}", style: 'width: 110px' do
                        != button_label
                        - if agent.sent_requests_count > 0
                          %span.badge= agent.sent_requests_count

    - if local_assigns[:max_count].present? and all_count > local_assigns[:max_count]
      .col-12
        .agent
          = link_to "#{all_count}명 모두 보기", issue, target: ('_wyp' if local_assigns[:widget]), class: 'ui button'
