- campaign = @commentable
- message.subject = campaign.formatted_title_to_agent(@comments)
%p
  #{@agent.name}님 안녕하세요? 세상을 바꾸는 시민들, 빠띠 캠페인즈입니다.

%p
  &nbsp;

%p
  캠페인
  = link_to polymorphic_url(campaign) do
    "#{campaign.title}" #{polymorphic_url(campaign)}
  이 진행 중입니다.

  %br
  %br

  최근 #{@comments.count}명의 시민이 추가로 촉구하였습니다. 현재까지 총 #{campaign.order_count}명의 시민이 #{@agent.name}님에게 촉구하였습니다.

.container{ style: 'border: 1px solid #ddd; padding: 1rem; border-radius: 1rem;' }
  %h4= link_to campaign.title, polymorphic_url(campaign), target: "_blank"
  %p= excerpt(campaign.body, length: 200)
  = link_to polymorphic_url(campaign), target: "_blank" do
    자세히 보기

%p
  &nbsp;

- if @comments.count > 4
  %p{ style: 'text-align: center' }
    이 캠페인에 대한 #{@agent.name}님의 의견을 등록하세요.

  %p{ style: 'text-align: center' }
    %a{:href => edit_statement_campaign_url(campaign, statement_id: @statement_key.statement.id, key: @statement_key.key), :style => "font-size: 14px; display: inline-block; color: #22be34; background: none; border-radius: 3px; padding: 16px 20px; text-decoration: none; outline: 0px; font-family: AppleSDGothic, \"apple sd gothic neo\", \"noto sans korean\", \"noto sans korean regular\", \"noto sans cjk kr\", \"noto sans cjk\", \"nanum gothic\", \"malgun gothic\", dotum, sans-serif; border-width: 2px; border-style: solid; border-color: #22be34;_display:inline", :target => "_blank"} 의견 등록하기

  %p
    &nbsp;

- @comments.each do |comment|
  %p
    이 캠페인에 대해 #{comment.user_nickname}님이 #{@agent.name}님에게 행동을 촉구합니다.
  .container{ style: 'border: 1px solid #ddd; padding: 1rem; border-radius: 1rem;' }
    != smart_truncate_html comment.smart_body, length: 200, ellipsis: "... <a href='#{comment_url(comment)}'>더 보기</a>"

  %p
    &nbsp;

- if @comments.any?
  %p{ style: 'text-align: center' }
    이 캠페인에 대한 #{@agent.name}님의 의견을 등록하세요.

  %p{ style: 'text-align: center' }
    %a{:href => edit_statement_campaign_url(campaign, statement_id: @statement_key.statement.id, key: @statement_key.key), :style => "font-size: 14px; display: inline-block; color: #22be34; background: none; border-radius: 3px; padding: 16px 20px; text-decoration: none; outline: 0px; font-family: AppleSDGothic, \"apple sd gothic neo\", \"noto sans korean\", \"noto sans korean regular\", \"noto sans cjk kr\", \"noto sans cjk\", \"nanum gothic\", \"malgun gothic\", dotum, sans-serif; border-width: 2px; border-style: solid; border-color: #22be34;_display:inline", :target => "_blank"} 의견 등록하기

  %p
    &nbsp;

- @orders.each do |order|
  = image_tag beacon_order_url(order)
