%section.page-block.profile-header

%section.page-block
  .container.mt-4
    %h3
      %a{href: @link} '#{@title}'
      에 대한 이메일 수신거부
    .page-block.page-block-message
      - if @email_subscription.use
        %p #{@email_subscription.email}로 이메일을 더 이상 받지 않으려면, 아래 수신 거부 버튼을 클릭하십시오.
        = form_tag(update_unsubscribe_path(id: @email_subscription.id)) do
          = hidden_field_tag(:use, false)
          = submit_tag '수신거부', class: "btn btn-primary"
          = link_to '취소', root_url, class: "btn btn-secondary"
      - else
        %p 이미 이메일 수신 거부하였습니다.
