%section.page-block.profile-header
  .container-fluid
    .media
      .media-left
        = image_tag @user.image.md.url, width: '150px', class: 'media-object'
      .media-body
        %h3
          = @user.nickname
        - if current_user == @user
          %p= link_to '수정', edit_user_registration_path, style: 'color: white'
        %p.lead= @user.description

%section.page-block
  .container-fluid
    %h3
      #{Campaign.model_name.human}
    .row
      = render @user.campaigns.order("id desc")
