%section.page-block.profile-header
  .container-fluid
    .media
      .media-left
        = image_tag @user.image.md.url, width: '150px', class: 'media-object'
      .media-body
        %h3= @user.nickname
        %p.lead= @user.description

%section.page-block
  .container-fluid
    %h3
      #{Campaign.model_name.human}
    .row
      = render @user.campaigns
