- if Campaign.popular.any?
  - campaign = Campaign.popular.limit(5).shuffle.first
  %section#about-section{style:"background-position:center; background-size:cover;background-image: url(#{asset_url(campaign.cover_image)});"}
    .container
      %h2{ style: 'line-height: 1.0;' }
        %small{ style: 'color: #fff; text-shadow: 0 0 12px rgba(0,0,0);' }
          캠페인
        %br
        %strong{style:"font-size: 61px; line-height: 80px; text-shadow: 0 0 12px rgba(0,0,0,0.9);"}
          = campaign.title
      %div
        = link_to campaign, class: 'btn btn-lg btn-danger', target: '_blank' do
          참여하기
- else
  %section#about-section{style:"background-position:center; background-size:cover;background-image: url(#{asset_url('gov_bg3.png')});"}
    .container
      %h2{ style: 'line-height: 1.0;' }
        %small{ style: 'color: #fff;' }
          세상을 바꾸는 시민들
        %br
        %strong{style:"font-size:61px;line-height:80px;"}
          빠띠 캠페인즈
      %div
        = link_to 'https://parti.coop/solutions/campaign', class: 'btn btn-lg btn-danger', target: '_blank' do
          빠띠 캠페인즈 소개
        = link_to 'http://parti.coop/', class: 'btn btn-lg btn-info', target: '_blank' do
          빠띠 소개

%section#petitions.page-block
  .container-fluid
    %h3
      = Campaign.model_name.human
      .pull-right
        = link_to campaigns_url(subdomain: root_subdomain) do
          %small 더 보기
    .row
      - cache "home-campaigns", race_condition_ttl: 30.seconds, expires_in: 1.hours do
        = render Campaign.popular.limit(12)

    %div{ style: 'padding:14px; background: #fff; border-radius: 14px; text-align: center;'}
      %h3{ style: 'letter-spacing: -1px; line-height: 1.5;' }
        %strong 세상을 멋지게 할 아이디어!
        %br
        캠페인으로 실현해 보세요.
      %p.lead{ style: 'margin-top: 28px' }
        = link_to '캠페인 시작하기', new_campaign_path, class: 'btn btn-lg btn-info'
        = link_to 'https://m.me/PartiUnion', class: 'btn btn-lg' do
          %i.fa.fa-comment-o
          빠띠에 문의하기

%section#players
  .container
    %h3
      국회의원
      .pull-right
        = link_to Agency.assembly_20th do
          %small 더 보기
    .row
      - cache "home-assembly_20th", race_condition_ttl: 30.seconds, expires_in: 1.hours do
        - Agency.assembly_20th.agents.popular_limit(12).each do |agent|
          .col-sm-2.col-xs-4= render agent