- statementable_human_name = @statementable.class.model_name.human
- if @statementable.project
  = render 'projects/header', project: @statementable.project
- commentable = @statementable
%section.page-block
  .container
    .alert.alert-success
      %h3 #{@agent.name}님의 의견 등록
      %p
        = link_to @statementable do
          "#{@statementable.title}"
        #{statementable_human_name}에 대해 #{@agent.name}님의 의견을 등록하세요.
    %p
      = link_to @statementable do
        "#{@statementable.title}" #{statementable_human_name} 확인하기
        %i.fa.fa-arrow-right
  .container
    .comments-form
      = form_for @statement, html: { class: 'gov-action-form-validation' } do |f|
        = hidden_field_tag :key, @statement_key.key
        - if @statementable.try(:statement_mode).try(:need_stance?)
          .form-group
            = f.label :stance, '찬반여부'
            = f.select :stance, Statement.stance.options, { }, class: 'form-control'
        .form-group
          = f.label :body, '의견'
          ~ f.text_area :body, placeholder: '제 생각에는...', class: 'form-control validate ' + ( is_redactorable? ? 'redactor' : ''), data: { 'rule-required': true }
        = f.submit '작성', class: 'btn btn-default btn-sm'

