- commentable = @statementable
%section#petition-block.page-block.component-header.component-header-auto-height
  .container
    %span.gov-label= @statementable.class.model_name.human
    %br
    = link_to @statementable, style: 'color: #fff' do
      = @statementable.title

%section
  .container
    .page-header.page-header-narrow
      %h3.sub-title
        행동을 촉구합니다.
    .panel-body.component-box
      .comments-form
        = form_for @comment, html: { class: 'gov-action-form-validation' } do |f|
          = hidden_field_tag :back_commentable, '1'
          = f.hidden_field :commentable_type, value: commentable.class.name
          = f.hidden_field :commentable_id, value: commentable.id
          = f.hidden_field :mailing, value: :ready
          .gov-action-form-grecaptcha
          - unless user_signed_in?
            .row
              .col-xs-12.col-md-6
                .form-group
                  = f.label :commenter_name
                  = f.text_field :commenter_name, class: 'form-control', data: { 'rule-required': true }
              .col-xs-12.col-md-6
                .form-group
                  = f.label :commenter_email, "보내는 사람 이메일(반드시 넣어주세요)"
                  = f.text_field :commenter_email, class: 'form-control'
          .form-group
            = f.label :body, "보내는 내용"
            = f.hidden_field :is_html_body, value: is_redactorable?
            - unless is_redactorable?
              - f.object.body = Html2Text.convert(f.object.body)
            ~ f.text_area :body, placeholder: '촉구합니다...', class: 'form-control validate ' + ( is_redactorable? ? 'redactor' : ''), style: 'height: 150px', data: { 'rule-required': true }
          = render "campaigns/checkbox_term", f: f, campaign: commentable

          - if @statementable.agents.count != @statementable.need_to_order_agents.count
            %div.visible-xs-block{ style: 'height: 10px' }
            = f.button name: :order_filter, value: :no_reaction, class: 'btn btn-primary btn-sm btn-xs-block' do
              반대&middot무응답 촉구 대상에게만 촉구하기
            = f.submit '모두에게 촉구하기', class: 'btn btn-link btn-sm btn-xs-block'
          - else
            = f.submit '모두에게 촉구하기', class: 'btn btn-primary btn-sm btn-xs-block'


%hr

- if @statementable.project
  %section.page-block
    .container
      %h3 프로젝트
      .row
        = render @statementable.project
