.col-xs-12
  .media.story-card
    .media-left
      = link_to story do
        .media-object{ style: "width: 160px; height: 90px; background-image: url(#{story.cover.md}); background-size: cover; background-position: top center;"}
    .media-body
      %h4.media-heading
        = link_to story.title, story

      .media-content
        = excerpt story.body, length: 100 if story.body.present?

      .media-meta
        %span
          - if story.project.present?
            = link_to story.project.title, story.project
        %span
          = render 'users/line', user: story.user

        %span
          댓글
          #{story.comments.count}

        %span
          좋아요
          = story.merged_likes_count
