- commentable = @statementable
%section#petition-block.page-block.component-header.component-header-auto-height
  .container
    %span.gov-label= @statementable.class.model_name.human
    %br
    = link_to @statementable, style: 'color: #fff' do
      = @statementable.title

%section
  .container
    .page-header.page-header-narrow
      %h3.sub-title
        모든 인물 #{@statementable.need_to_order_agents.count}명에게 행동을 촉구합니다.
    .panel-body.component-box
      .comments-form
        = form_for @comment, html: { class: 'gov-action-form-validation' } do |f|
          = hidden_field_tag :back_commentable, '1'
          = f.hidden_field :commentable_type, value: commentable.class.name
          = f.hidden_field :commentable_id, value: commentable.id
          = f.hidden_field :mailing, value: :ready
          .gov-action-form-grecaptcha
          - unless user_signed_in?
            .row
              .col-xs-12.col-md-6
                .form-group
                  = f.label :commenter_name
                  = f.text_field :commenter_name, class: 'form-control', data: { 'rule-required': true }
              .col-xs-12.col-md-6
                .form-group
                  = f.label :commenter_email, "보내는 사람 이메일(반드시 넣어주세요)"
                  = f.text_field :commenter_email, class: 'form-control'
          .form-group
            = f.label :body, "보내는 내용"
            - unless is_redactorable?
              - f.object.body = strip_tags(f.object.body)
            ~ f.text_area :body, placeholder: '촉구합니다...', class: 'form-control validate ' + ( is_redactorable? ? 'redactor' : ''), style: 'height: 150px', data: { 'rule-required': true }
          - if commentable.try(:confirm_privacy).present?
            .form-group
              .campaign-sign-privacy-policy
                촉구하기를 누르시면 본 서명의
                %a{ "data-target" => "#privacy-modal", "data-toggle" => "modal", :type => "button", style: 'cursor:pointer' }
                  개인정보취급방침
                에 동의하게 됩니다.
              #privacy-modal.modal.fade{:role => "dialog", :tabindex => "0"}
                .modal-dialog{:role => "document"}
                  .modal-content
                    .modal-header
                      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                        %span{"aria-hidden" => "true"} &#215;
                      %h4.modal-title 개인정보취급방침
                    .modal-body
                      != commentable.confirm_privacy
          = f.submit '작성', class: 'btn btn-default btn-sm btn-inverted'
%hr

- if @statementable.project
  %section.page-block
    .container
      %h3 프로젝트
      .row
        = render @statementable.project
