.orders.my-3
  .text-muted
    %i.fa.fa-info-circle
    촉구하면 발송되는 이메일에 촉구 대상이 응답한 내용입니다.

  .mb-3
    .row.row-cols-2.row-cols-md-4.no-gutters
      - campaign.total_action_assignables.each do |action_assignable|
        - agents = local_assigns[:responded_agents_only] ? campaign.responded_agents(action_assignable) : campaign.agents(action_assignable)
        - agents.each do |agent|
          - statement = campaign.cached_statement_of(agent)
          - if statement.try(:respond_status?, :agree, :any_body)
            - stance_class = 'success'
            - stance_icon = capture do
              %i.fa.fa-check.text-success
          - elsif statement.try(:respond_status?, :disagree)
            - stance_class = 'danger'
            - stance_icon = capture do
              %i.fa.fa-ban.text-danger
          - else
            - stance_class = 'dark'
            - stance_icon = capture do
              %i.fa.fa-minus.text-muted

          .col.mb-1.border-0
            .card.text-white{ class: "bg-#{stance_class}"}
              .row.no-gutters
                .col-5
                  = image_tag agent.image.md.url, class: "card-img", style: "height: 6.5rem; object-fit: cover"
                .col-7
                  .card-body.p-3
                    %h6.mb-1.card-title
                      %strong= agent.name
                      %br
                      %small= agent.organization
                    .card-text
                      %small
                        - if statement.try(:stancable?)
                          - if statement.try(:sure?)
                            %strong= statement.try(:stance).try(:text)
                          - else
                            - if statement.try(:body).present?
                              %span 응답
                            - else
                              %span 무응답
                        - else
                          - if statement.try(:body).present?
                            %span 응답
                          - else
                            %span 무응답
                        - if statement.try(:body).present?
                          %i.fa.fa-comment-dots.js-popover{ "data-placement": "top", "data-trigger": "hover", "data-content": statement.body }
