.agent{ class: local_assigns[:dom_class] }
  .agent-image{ class: (agent.category == '개인' ? 'agent-image-top' : 'agent-image-corporation'), style: "background-image:url(#{asset_url(agent.image.md.url)});" }
    - unless statement.present?
      .agent-unsure 무응답
    - else
      - case statement.respond_status
      - when :unsure
        .agent-unsure 무응답
      - when :agree
        .agent-agree 찬성
      - when :disagree
        .agent-disagree 반대
      - when :replied
        .agent-agree 응답
  .agent-info
    .agent-name= agent.name
    .agent-organization= agent.organization
  - if campaign.opened?
    = link_to order_form_campaign_path(campaign_id: campaign.id, agent_id: agent.id), remote: true, class: 'agent-order-btn' do
      #{Order.where(agent_id: agent).where(comment_id: campaign.comments).count + 1}번째로
      촉구하기
