- campaign.total_action_assignables.each do |action_assignable|
  - agents = ( (campaign.opened? or local_assigns[:responded_agents_only]) ? campaign.responded_agents(action_assignable) : campaign.agents(action_assignable))
  - if agents.any?
    %div{ style: 'margin: 14px 0' }
      - agents.each do |agent|
        - statement = campaign.cached_statement_of(agent)
        - if statement.try(:respond_status?, :agree, :any_body)
          - stance_class = 'success'
          - action_style = 'color: white'
          - stance_icon = capture do
            %i.fa.fa-check
        - elsif statement.try(:respond_status?, :disagree)
          - stance_class = 'danger'
          - action_style = 'color: white'
          - stance_icon = capture do
            %i.fa.fa-ban
        - else
          - stance_class = 'default'
          - action_style = 'color: black'
          - stance_icon = capture do
            %i.fa.fa-minus{ style: 'color: lightgray'}

        .media.text-basic-wrap{ class: "text-#{stance_class}", style: 'margin: 16px 0; padding-left: 0; list-style-type: none;' }
          .media-left= stance_icon
          .media-body
            - line_body = capture do
              = link_to agent, style: 'color: #111' do
                = image_tag agent.image.md.url, style: "height: 24px;"
                %strong= agent.name
              - if agent.category == '개인'
                %small.text-muted= agent.organization
              - if statement.try(:stancable?)
                - if statement.try(:sure?)
                  %strong= statement.try(:stance).try(:text)
                  %span.text-muted 입장을 밝혔습니다.
                - else
                  - if statement.try(:body).present?
                    %span.text-muted 답변했습니다.
                  - else
                    %span.text-muted 답변하지 않았습니다.
              - else
                - if statement.try(:body).present?
                  %span.text-muted 답변했습니다.
                - else
                  %span.text-muted 답변하지 않았습니다.


            = line_body
            - if statement.try(:individually_orderable?)
              &nbsp;
              = link_to order_form_campaign_path(campaign_id: campaign.id, agent_id: agent.id), remote: true, class: 'agent-order-btn' do
                %i.fa.fa-send-o
                #{Order.where(agent_id: agent).where(comment_id: campaign.comments).count + 1}번째로 촉구하기
            - if statement.try(:body).present?
              .bubble-body.bubble-body-default
                != statement.body
