%section.py-5.m-0.jumbotron.jumbotron-fluid.bg-transparent.position-relative.d-flex.align-items-center{ style: "width: 100vw; min-height: 40vh; overflow: hidden;" }
  = image_tag @campaign.cover_image.md.url, class: "img-fluid position-absolute", style: "object-fit: cover; object-position: top; height: 100%; width: 100%; -webkit-filter: blur(5px); filter: blur(5px);"
  .bg-dark.position-absolute{ style: "width: 100%; height: 100%; opacity: 0.4" }
  .container.position-relative
    %h1.text-white
      %strong{ style: "text-shadow: 2px 2px #000;" }
        = @campaign.title
      %small
        - if @campaign.success?
          .badge.badge-pill.badge-danger
            성공
        - elsif @campaign.opened?
          .badge.badge-pill.badge-primary
            진행중
    %h2.text-white
      - if @campaign.agents.any?
        %span.mr-5
          대상: #{@campaign.agents.first.name}
          - if @campaign.agents.count > 1
            외 #{@campaign.agents.count - 1}
        %br.visible-xs

      %span
        = image_tag @campaign.user.image.md.url, style: "width: 1.5rem"
        = link_to @campaign.user.nickname, @campaign.user, class: 'text-white'

    - if @campaign.picketable?
      .cover-picket-body.my-4.p-3.bg-light.text-dark
        = raw @campaign.body

%section.border-bottom.border-primary.p-2
  %ul.nav.nav-pills.justify-content-center
    - if !@campaign.picketable?
      %li.nav-item
        = link_to '내용', campaign_path, class: class_string("mx-2 nav-link" => true, "active" => menu == 'content')

    - if @campaign.picketable?
      %li.nav-item
        = link_to campaign_path, class: class_string("mx-2 nav-link" => true, "active" => menu == 'content') do
          팻말
          - if @campaign.comments.any?
            %small
              = number_with_limit(@campaign.comments.size, 1000)

    - if @campaign.signable?
      %li.nav-item
        = link_to signers_campaign_path, class: class_string("mx-2 nav-link" => true, "active" => menu == 'signer') do
          서명
          - if @campaign.signs.any?
            %small
              = number_with_limit(@campaign.signs.size, 1000)

    - if @campaign.orderable?
      %li.nav-item
        = link_to '촉구', orders_campaign_path, class: class_string("mx-2 nav-link" => true, "active" => menu == 'order')

      %li.nav-item
        = link_to comments_campaign_path, class: class_string("mx-2 nav-link" => true, "active" => menu == 'comment') do
          의견
          - if @campaign.comments.any?
            %small
              = number_with_limit(@campaign.comments.size, 1000)

    - if !@campaign.picketable? && @campaign.template != "sympathy"
      %li.nav-item
        = link_to '소식', stories_campaign_path, class: class_string("mx-2 nav-link" => true, "active" => menu == 'story')

    - if can? :edit, @campaign
      %li.nav-item
        = link_to edit_campaign_path(@campaign), class: class_string("mx-2 nav-link" => true, "active" => menu == 'edit') do
          %i.fa.fa-gear
          관리
