= form_for @campaign do |f|

  = f.hidden_field :template

  - if @campaign.errors.any?
    .alert.alert-danger
      %ul.list-unstyled
        - @campaign.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :opened_at
    = f.text_field :opened_at, value: bot_short_day_f(@campaign.opened_at), class: 'form-control', placeholder: bot_short_day_f(Date.today)
    %p.help-block
      캠페인 시작일을 yyyy-mm-dd 형태로 입력해 주세요. 미래의 날짜로 입력하면 그 전에 노출되지 않습니다.

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control input-lg'

  .form-group
    = f.label :body
    ~ f.text_area :body, class: 'form-control redactor'

  - if @campaign.goalable?
    .form-group
      = f.label :goal_count
      = f.number_field :goal_count, class: 'form-control', placeholder: '1000'
      %p.help-block
        캠페인의 목표 참여 숫자를 입력하세요.

  .form-group
    = f.label :cover_image
    = f.file_field :cover_image, class: 'form-control'
    = f.hidden_field :cover_image_cache, value: f.object.cover_image_cache
    .help-block
    - if @campaign.read_attribute(:cover_image).present?
      = image_tag @campaign.cover_image.xs.url, class: 'img-thumbnail', style: 'max-width: 40px'
      %label{ style: 'font-weight: normal;' }
        = f.check_box :remove_cover_image
        삭제하기

  .form-group
    = f.label :social_image
    = f.file_field :social_image, class: 'form-control'
    = f.hidden_field :social_image_cache, value: f.object.social_image_cache
    .help-block
    - if @campaign.read_attribute(:social_image).present?
      = image_tag @campaign.social_image.xs.url, class: 'img-thumbnail', style: 'max-width: 40px'
      %label{ style: 'font-weight: normal;' }
        = f.check_box :remove_social_image
        삭제하기

  - if current_user.is_admin?
    .form-group
      = f.label :css
      ~ f.text_area :css, rows: 10, class: 'form-control'
      .help-block
        커스텀 스타일을 설정합니다.

  .form-group
    = f.submit '저장', class: 'btn btn-primary btn-lg btn-block'
