%section#petition-header
  .container-fluid
    %h2.petition-title.text-basic-wrap= campaign.title

    - buttons = capture do
      - if can? :edit, campaign
        = link_to '수정', edit_campaign_path(campaign)
      - if can? :destroy, campaign
        &middot;
        = link_to '삭제', campaign, method: :delete, data: { confirm: '삭제하시겠습니까?' }
    - if buttons.present?
      %div{ style: 'background: #f5f5f5; margin-bottom: 14px; padding: 7px; '}
        = buttons

    .petition-meta
      %span.campaigner
        .user-image-xs{style: "background-image:url(#{asset_url(campaign.user.image)});"}
        = link_to campaign.user.nickname, campaign.user
      &middot;
      %span
        = date_f campaign.opened_at_to_human
      &middot;
      %span
        조회
        = campaign.views_count

    - if campaign.issue.present?
      .m-t.m-b
        %h4
          %small.text-muted 관련 이슈
          = link_to campaign.issue do
            = campaign.issue.title

    - cover_image = campaign.cover_image.lg.url
    - if cover_image.present?
      %section.no-container-margin-xs{ style: "margin-top: 15px; margin-top: 15px; height: 250px; background-image: url(#{cover_image}); background-size: cover; background-repeat: no-repeat; background-position: center" }


