.response-present.border.bg-dark.p-4
  .d-flex.justify-content-center
    - if campaign.stancable?
      .text-center.mx-auto.text-success
        %h3 찬성
        .display-4.font-weight-bolder= campaign.agree_agents.count || 0
      .text-center.mx-auto.text-danger
        %h3 반대
        .display-4.font-weight-bolder= campaign.disagree_agents.count || 0
      .text-center.mx-auto.text-white
        %h3 무응답
        .display-4.font-weight-bolder= campaign.unsure_agents.count || 0
    - else
      .text-center.mx-auto.text-success
        %h3 응답
        .display-4.font-weight-bolder= campaign.any_body_agents.count || 0
      .text-center.mx-auto.text-white
        %h3 무응답
        .display-4.font-weight-bolder= campaign.blank_body_agents.count || 0
