%div.modal.fade{id: modal_dom_id, :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &#215;
        %h4.modal-title
          = image_tag agent.image.md.url, style: "height: 36px;"
          %strong= agent.name
          %span.text-muted= agent.organization
          에게 촉구하기

      .modal-body
        .comments-form
          = form_for @comment, html: { class: 'gov-action-form-validation' } do |f|
            = f.hidden_field :commentable_type, value: 'Campaign'
            = f.hidden_field :commentable_id, value: @campaign.id
            = f.hidden_field :target_agent_id, value: agent.id
            .gov-action-form-grecaptcha
            - unless user_signed_in?
              .form-group
                = f.label :commenter_name
                = f.text_field :commenter_name, class: 'form-control', data: { 'rule-required': true }
              .form-group
                = f.label :commenter_email, agent.email.present? ? "이메일(#{agent.name}님에게 메일을 발송하려면 반드시 넣어주세요)" : nil
                = f.text_field :commenter_email, class: 'form-control'
            .form-group
              = f.label :body, "보내는 내용"
              = f.hidden_field :is_html_body, value: is_redactorable?
              ~ f.text_area :body, value: f.object.smart_body(is_redactorable?), placeholder: '촉구합니다...', class: 'form-control validate ' + ( is_redactorable? ? 'redactor' : ''), style: 'height: 150px', data: { 'rule-required': true }
            - if agent.email.present?
              .form-group
                .checkbox
                  %label
                    = f.check_box :mailing, { checked: true }, 'ready', 'disable'
                    #{agent.name}님에게 메일로도 발송합니다.
            = render "campaigns/checkbox_term", f: f, campaign: @campaign
            = f.submit '작성', class: 'btn btn-primary btn-block'
