.response-present
  .response-counts
    - if campaign.stancable?
      .response-count
        .response-tag.agree 찬성
        .count= campaign.agree_agents.count || 0
      .response-count
        .response-tag.disagree 반대
        .count= campaign.disagree_agents.count || 0
      .response-count
        .response-tag.noresponse 무응답
        .count= campaign.unsure_agents.count || 0
    - else
      .response-count
        .response-tag.agree 응답
        .count= campaign.any_body_agents.count || 0
      .response-count
        .response-tag.noresponse 무응답
        .count= campaign.blank_body_agents.count || 0
  - if campaign.opened?
    .response-text
    = link_to [:new_comment_agent, campaign], class: 'response-btn' do
      촉구하기
