= render "campaigns/#{campaign.template}/section_cover"
= render "campaigns/#{campaign.template}/section_tab", menu: 'story'

%section
  .container
    .row
      .col-sm-4.order-sm-2
        %section.mt-5
          = render 'campaigns/petition/section_right'

      .col-sm-8.order-sm-1
        %section.my-5
          %h3.font-weight-bold 소식

          .stories
            - campaign.stories.recent.each do |story|
              .bg-light.p-3
                .mb-3.text-muted
                  .d-flex.justify-content-between
                    %span
                      = campaign.user.nickname
                      = date_f story.published_at
                    = render 'likes/button', likable: story
                .my-3
                  = link_to story_campaign_path(story_id: story.id), class: "text-dark" do
                    %h5= story.title
                    .story-body
                      = excerpt(story.body, length: 200)

          .my-3
            - if can?(:create_story, campaign)
              = link_to '작성', new_story_path(story: { storiable_id: campaign.id, storiable_type: 'Campaign' }), class: 'btn btn-primary'

  = local_assigns[:bottom_section]
