- if Campaign.published.popular.any?
  - campaign = Campaign.published.popular.limit(5).shuffle.first
  %section#about-section.featured-campaign{style:"background-image: url(#{asset_url(campaign.cover_image)});"}
    .container
      %h2
        %small
          캠페인
        %br
        %strong
          = campaign.title
      %div
        = link_to campaign, class: 'btn btn-lg btn-danger', target: '_blank' do
          참여하기
- else
  %section#about-section.featured-campaign{style:"background-image: url(#{asset_url('gov_bg3.png')});"}
    .container
      %h2
        %small
          세상을 바꾸는 시민들
        %br
        %strong{style:"font-size:61px;line-height:80px;"}
          빠띠 캠페인즈
      %div
        = link_to 'https://parti.coop/solutions/campaign', class: 'btn btn-lg btn-danger', target: '_blank' do
          빠띠 캠페인즈 소개
        = link_to 'http://parti.coop/', class: 'btn btn-lg btn-info', target: '_blank' do
          빠띠 소개

%section#petitions.page-block
  .container-fluid
    %h3
      인기
      = Campaign.model_name.human
    .row
      - cache "home-campaigns", race_condition_ttl: 30.seconds, expires_in: 1.hours do
        = render Campaign.published.popular.limit(4)

    %div{ style: 'padding:14px; background: #def; border-radius: 0px; text-align: center;'}
      %h3{ style: 'letter-spacing: -1px; line-height: 1.5;' }
        %strong 세상을 멋지게 할 아이디어!
        %br
        캠페인으로 실현해 보세요.
      %p.lead{ style: 'margin-top: 28px' }
        = link_to '새 캠페인 만들기', new_campaign_path, class: 'btn btn-lg btn-primary'
        = link_to 'https://parti.coop/contacts/new', class: 'btn btn-lg' do
          %i.fa.fa-comment-o
          빠띠에 캠페인 협업 문의하기


%section
  .container-fluid
    %ul.nav.nav-tabs
      %li.active
        %a{ href: "#campaigns", role: "tab", "data-toggle" => "tab" } 캠페인 (#{Campaign.count}건)
      %li
        %a{ href: "#players", role: "tab", "data-toggle" => "tab" } 국회의원

%section
  .tab-content
    %section#campaigns.page-block.tab-pane.active
      = render 'campaigns/list', campaigns: @campaigns

    %section#players.tab-pane
      .container
        %h3
          국회의원
          .pull-right
            = link_to Agency.assembly_20th do
              %small 더 보기
        .row
          - cache "home-assembly_20th", race_condition_ttl: 30.seconds, expires_in: 1.hours do
            - Agency.assembly_20th.agents.popular_limit(24).each do |agent|
              .col-sm-2.col-xs-4= render agent