- if current_page?(root_url) && params[:page].nil?
  %section.p-0.jumbotron.jumbotron-fluid.bg-transparent.position-relative.d-flex.align-items-center{ style: "width: 100vw; min-height: 50vh;" }
    - if Campaign.published.popular.any?
      - campaign = Campaign.published.popular.limit(5).shuffle.first
      = image_tag campaign.cover_image.md.url, class: "img-fluid position-absolute", style: "object-fit: cover; object-position: top; height: 100%; width: 100%;"
      .bg-dark.position-absolute{ style: "width: 100%; height: 100%; opacity: 0.4" }
      .container.position-relative
        %h1.text-white
          %small
            캠페인
          %br
          %strong{ style: "text-shadow: 2px 2px #000;" }
            = campaign.title
        %div
          = link_to campaign, class: 'btn btn-lg btn-danger', target: '_blank' do
            참여하기

- if user_signed_in? && current_user.campaigns.any?
  %section.mb-5
    .container
      .alert.alert-warning{ style: 'margin: 0' }
        %h4{ style: 'letter-spacing: -1px; line-height: 1.5;' } 캠페인을 #{current_user.campaigns.count}건 만드셨네요! #{current_user.nickname}님이 만든 캠페인을 모아서 보여줄 수 있어요.
        = link_to current_user, class: 'btn btn-warning' do
          #{current_user.nickname}님의 캠페인 보기

- if current_page?(root_url) && params[:page].nil?
  %section.py-5
    .container
      %h2
        인기
        = Campaign.model_name.human
      .card-columns
        - cache "home-campaigns", race_condition_ttl: 30.seconds, expires_in: 1.hours do
          = render Campaign.published.popular.limit(6)

  %section.py-5
    .container
      .p-3.p-sm-5.bg-warning
        %h2
          %strong 세상을 멋지게 할 아이디어!
          %br
          캠페인으로 실현해 보세요.
        %p.lead{ style: 'margin-top: 28px' }
          = link_to '새 캠페인 만들기', new_campaign_path, class: 'btn btn-lg btn-primary mr-3'
          %br.d-block.d-sm-none
          = link_to 'https://parti.coop/contacts/new', class: 'text-dark' do
            %strong
              %i.fa.fa-comment-o
              빠띠와 캠페인 협업하기

%section.py-5
  %a{ id: 'anchor-campaigns-list' }
  = render 'campaigns/list', campaigns: @campaigns, title_label: raw("모든 캠페인 <small>총 #{Campaign.count}건 중 #{@campaigns.current_page} 페이지</small>")
  .d-flex.justify-content-center
    = paginate @campaigns, params: { :anchor => 'anchor-campaigns-list' }
