- if Campaign.published.popular.any?
  - campaign = Campaign.published.popular.limit(5).shuffle.first
  %section#about-section{style:"background-position:center; background-size:cover;background-image: url(#{asset_url(campaign.cover_image)});"}
    .container
      %h2{ style: 'line-height: 1.0;' }
        %small{ style: 'color: #fff; text-shadow: 0 0 12px rgba(0,0,0);' }
          캠페인
        %br
        %strong{style:"font-size: 61px; line-height: 80px; text-shadow: 0 0 12px rgba(0,0,0,0.9);"}
          = campaign.title
      %div
        = link_to campaign, class: 'btn btn-lg btn-danger', target: '_blank' do
          참여하기
- else
  %section#about-section{style:"background-position:center; background-size:cover;background-image: url(#{asset_url('gov_bg3.png')});"}
    .container
      %h2{ style: 'line-height: 1.0;' }
        %small{ style: 'color: #fff;' }
          세상을 바꾸는 시민들
        %br
        %strong{style:"font-size:61px;line-height:80px;"}
          빠띠 캠페인즈
      %div
        = link_to 'https://parti.coop/solutions/campaign', class: 'btn btn-lg btn-danger', target: '_blank' do
          빠띠 캠페인즈 소개
        = link_to 'http://parti.coop/', class: 'btn btn-lg btn-info', target: '_blank' do
          빠띠 소개

%section#petitions.page-block
  .container-fluid
    %h3
      인기
      = Campaign.model_name.human
    .row
      - cache "home-campaigns", race_condition_ttl: 30.seconds, expires_in: 1.hours do
        = render Campaign.published.popular.limit(4)

    %div{ style: 'padding:14px; background: #def; border-radius: 0px; text-align: center;'}
      %h3{ style: 'letter-spacing: -1px; line-height: 1.5;' }
        %strong 세상을 멋지게 할 아이디어!
        %br
        캠페인으로 실현해 보세요.
      %p.lead{ style: 'margin-top: 28px' }
        = link_to '새 캠페인 만들기', new_campaign_path, class: 'btn btn-lg btn-primary'
        = link_to 'https://parti.coop/contacts/new', class: 'btn btn-lg' do
          %i.fa.fa-comment-o
          빠띠에 캠페인 협업 문의하기

%section.page-block
  = render 'campaigns/list', campaigns: @campaigns
