%section.section-right
  %section.section-info
    %script{ type: "text/javascript" }
      :plain
        var campaign_due_date = new Date('#{@campaign.created_at}')
    .campaign-progress
      .campaign-time-to-left.tablet-fold
        / 캠페인 목표 서명수처럼 서명 기한(날짜)가 필요함.
        남은 시간
        %br
        .digit-to-left.days
          11
        .div 일
        .digit-to-left.hours 23
        .div :
        .digit-to-left.minutes 00
        .div :
        .digit-to-left.seconds 00
      .campaign-label
        .current-message
          현재 #{number_with_delimiter(@campaign.signs.size, delimiter:",")}명이 서명하였습니다.
        - if @campaign.has_goal?
          #{number_with_delimiter(@campaign.signs_goal_count, delimiter:",")}명
        서명에 동참해주세요.
      - if @campaign.has_goal?
        .campaign-progress-bar
          .current-percent
            #{@campaign.percentage}%
          - if @campaign.success?
            .success-badge
              성공
            .signs-bar{ style: "width: 100%" }
          - else
            .signs-bar{ style: "width: #{@campaign.percentage}%" }
        .campaign-progress-meta.clearfix
          .signs-count
            서명 #{number_with_delimiter(@campaign.signs.size, delimiter:",")}
          .goal-count
            목표 #{number_with_delimiter(@campaign.signs_goal_count, delimiter:",")}
      .campaign-signs
        - @campaign.signs.recent.limit(3).each do |sign|
          .campaign-sign
            .signer-image{ style: "background-image:url(#{asset_url(sign.user_image_url)});" }
            .signed-message
              #{sign.user_name}님이 서명하셨습니다.
      .campaign-sign-form.tablet-fold
        .campaign-sign
          .signer-image{ style: "background-image:url(#{asset_url(@campaign.user.image_url(:md))});" }
          .signer-nickname
            = @campaign.user.nickname
        .campaign-sign-input.nickname{ style: "display: none" }
          이름
        .campaign-sign-input.email
          이메일
        .campaign-sign-input.word
          %p 나도 한마디
          %br
        / %button.btn.btn-danger.btn-lg.btn-block.campaign-sign-btn{"data-target" => "#sign-form-modal", "data-toggle" => "modal", :type => "button"}
        = link_to '서명하기', sign_form_campaign_path(@campaign), remote: true, class: "btn btn-danger btn-lg btn-block campaign-sign-btn"
        .campaign-sign-privacy-policy
          서명하기를 누르시면 본 서명의
          %a 개인정보취급방침
          에 동의하게 됩니다.
      .campaign-share.phone-fold
        .campaign-share-text
          많은 분들이 캠페인에 참여할 수 있도록 공유해주세요.
        .campaign-share-buttons
          = link_to "https://www.facebook.com/sharer/sharer.php?u=#{campaign_url(@campaign)}", class: 'campaign-share-button', target: '_blank' do
            %i.fa.fa-facebook-f
          = link_to "http://twitter.com/share?url=#{campaign_url(@campaign)}", class: 'campaign-share-button', target: '_blank' do
            %i.fa.fa-twitter
          = hidden_field_tag "share-url", "#{campaign_url(@campaign)}"
          = link_to 'javascript:copy_campaign_url()', { "class" => "campaign-share-button campaign-copy-to-clipboard", "data-toggle" => "popover", "data-trigger" => "focus", "data-html" => true, "data-content" => "캠페인 공유 주소를 복사하였습니다.", "style" => "margin-left: 6px"} do
            %i.fa.fa-clipboard
