%section.section-cover
  .cover-overlay
  - if @campaign.read_attribute(:cover_image).present?
    .cover-image{ style: "background-image:url(#{asset_url(@campaign.cover_image_url(:lg))});" }
  - else
    .cover-image{ style: "background-image:url(#{asset_url("default-image.png")});" }
  .info-container
    .meta
      - if @campaign.success?
        .label
          성공
      .label
        서명
      - if @campaign.agents.any?
        .agent-info
          대상: #{@campaign.agents.first.name}
          - if @campaign.agents.count > 1
            외 #{@campaign.agents.count - 1}

    .campaign-title
      = @campaign.title
    .user
      .user-image-xs{ style: "background-image:url(#{asset_url(@campaign.user.image_url(:md))});" }
      .user-name
        = @campaign.user.nickname

%section.section-tab
  %ul.menu
    %li.active
      .menu-item
        내용
    %li
      .menu-item
        촉구
    %li
      .menu-item
        의견
        - if @campaign.comments.any?
          %span.count
            = number_with_limit(@campaign.comments.count, 1000)
    %li
      .menu-item
        소식
    %li
      .menu-item
        명단
        - if @campaign.signs.any?
          %span.count
            = number_with_limit(@campaign.signs.count, 1000)

%section.section-info
  .campaign-progress
    .campaign-label
      .current-message
        현재 #{number_with_delimiter(@campaign.signs.count, delimiter:",")}명이 서명하였습니다.
      - if @campaign.has_goal?
        #{number_with_delimiter(@campaign.signs_goal_count, delimiter:",")}명
      서명에 동참해주세요.
    - if @campaign.has_goal?
      .campaign-progress-bar
        .current-percent
          #{@campaign.percentage}%
        - if @campaign.success?
          .success-badge
            성공
          .signs-bar{ style: "width: 100%" }
        - else
          .signs-bar{ style: "width: #{@campaign.percentage}%" }
      .campaign-progress-meta.clearfix
        .signs-count
          서명 #{number_with_delimiter(@campaign.signs.count, delimiter:",")}
        .goal-count
          목표 #{number_with_delimiter(@campaign.signs_goal_count, delimiter:",")}
    .campaign-signs
      - @campaign.signs.recent.limit(3).each do |sign|
        .campaign-sign
          .signer-image{ style: "background-image:url(#{asset_url(sign.user_image_url)});" }
          .signed-message
            #{sign.user_name}님이 서명하셨습니다.

%section.section-body
  .section-title
    캠페인 소개
  .campaign-body
    = raw @campaign.body

%section.section-orders
  .section-title
    캠페인 촉구
  .order-title
    지금
    %span.underline
      #{@campaign.agents.first.name}
      - if @campaign.agents.count > 1
        외 #{@campaign.agents.count - 1}
    에 촉구해 주세요
  .order-info
    홍길동님외 23분이 촉구에 참여중입니다.
  .order-users
    .user-images
      .user-image-sm.overlapped{ style: "background-image:url(#{asset_url(@campaign.user.image_url(:md))});" }
      .user-image-sm.overlapped{ style: "background-image:url(#{asset_url(@campaign.user.image_url(:md))});" }
      .user-image-sm.overlapped{ style: "background-image:url(#{asset_url(@campaign.user.image_url(:md))});" }
    .more +
    .count 20
  .agents
    .agent
      .agent-image{ style: "background-image:url(#{asset_url(@campaign.user.image_url(:md))});" }
        .agent-answer-not-yet
          무응답
      .agent-info
        .agent-name
          김은경
        .agent-organization
          환경부, 환경부장관
      .agent-order-btn
        10번째로 촉구하기
    .agent
      .agent-image{ style: "background-image:url(#{asset_url(@campaign.user.image_url(:md))});" }
        .agent-answer-no
          반대
      .agent-info
        .agent-name
          김은경
          %i.fa.fa-commenting
        .agent-organization
          환경부, 환경부장관
      .agent-order-btn
        10번째로 촉구하기
    .agent
      .agent-image{ style: "background-image:url(#{asset_url(@campaign.user.image_url(:md))});" }
        .agent-answer-no
          반대
      .agent-info
        .agent-name
          김은경
          %i.fa.fa-commenting
        .agent-organization
          환경부, 환경부장관
      .agent-order-btn
        10번째로 촉구하기
    .more
      더 보기

%section.section-comments
  .section-title
    의견
  .comment-form
    .commenter-image{ style: "background-image:url(#{asset_url(@campaign.user.image_url(:xs))});" }
    .comment-right
      .comment-box
      .comment-submit-btn 등록
  .comments
    .comment
      .comment-controls
        %a
          삭제
        %a
          신고
        %a
          긴급신고
        %a
          박제
      .comment-form
        .commenter-image{ style: "background-image:url(#{asset_url(@campaign.user.image_url(:sm))});" }
        .comment-right
          .comment-header
            .nickname
              김은경
              .comment-agent
                스타벅스에 촉구
            %span.sign-info
              250번째 서명자
              .date
                2018.12.05
          .comment-body
            정책적으로 막아주세요. 그렇지 않으면 눈가리고 아웅입니다. 지구를 구해주세요.
          .comment-footer
            %li.fa.fa-heart.not-yet-liked
            .not-yet-liked 공감해요
    .comment
      .comment-controls
        %a
          삭제
        %a
          신고
        %a
          긴급신고
        %a
          박제
      .comment-form
        .commenter-image{ style: "background-image:url(#{asset_url(@campaign.user.image_url(:sm))});" }
        .comment-right
          .comment-header
            .nickname
              김은경
              .comment-agent 스타벅스에 촉구
            %span.sign-info
              250번째 서명자
              .date
                2018.12.05
          .comment-body
            정책적으로 막아주세요. 그렇지 않으면 눈가리고 아웅입니다. 지구를 구해주세요.
          .comment-footer
            %li.fa.fa-heart.liked
            .liked 5
    .comment
      .comment-controls
        %a
          삭제
        %a
          신고
        %a
          긴급신고
        %a
          박제
      .comment-form
        .commenter-image{ style: "background-image:url(#{asset_url(@campaign.user.image_url(:sm))});" }
        .comment-right
          .comment-header
            .nickname
              김은경
              .comment-agent
                스타벅스에 촉구
            %span.sign-info
              250번째 서명자
              .date
                2018.12.05
          .comment-body
            정책적으로 막아주세요. 그렇지 않으면 눈가리고 아웅입니다. 지구를 구해주세요.
          .comment-footer
            %li.fa.fa-heart.not-yet-liked
            .not-yet-liked 공감해요

%section.section-sign-btn
  .sign-btn
    .sign-btn-text
      서명하기

/ %section.section-share
/   .facebook-btn
/   .twitter-btn
/   .copy-btn

/ %section.section-recommends
/   .recommends-title
/     가크의 다양한 캠페인을 만나보세요!
/   .campagins
/     .campaign
/       .campaign-img
/       .progress-bar
/       .campaign-title
/         수감자 자녀의 아동친화적 면접권 보장에 동참해주세요!
/       .sign-btn
/         서명하기

