%section.section-cover
  .cover-overlay
  - if @campaign.read_attribute(:cover_image).present?
    .cover-image{ style: "background-image:url(#{asset_url(@campaign.cover_image_url(:lg))});" }
  - else
    .cover-image{ style: "background-image:url(#{asset_url("default-image.png")});" }
  .info-container
    .meta
      - if @campaign.success?
        .label
          성공
      .label
        서명
      - if @campaign.agents.any?
        .agent-info
          대상: #{@campaign.agents.first.name}
          - if @campaign.agents.count > 1
            외 #{@campaign.agents.count - 1}
      - buttons = capture do
        - if can? :edit, @campaign
          = link_to edit_campaign_path(@campaign) do
            %i.fa.fa-edit{ style: "color:white" }
        - if can? :edit, @campaign
          = link_to edit_agents_campaign_path(@campaign) do
            %i.fa.fa-user{ style: "color:white" }
        - if can? :mail_signs, @campaign
          = link_to mail_form_campaign_signs_path(@campaign) do
            %i.fa.fa-envelope{ style: "color:white" }
        - if can? :destroy, @campaign
          = link_to @campaign, method: :delete, data: { confirm: '삭제하시겠습니까?' } do
            %i.fa.fa-trash{ style: "color:white" }
      - if buttons.present?
        = buttons

    .campaign-title
      = @campaign.title
    .user
      .user-image-xs{ style: "background-image:url(#{asset_url(@campaign.user.image_url(:md))});" }
      .user-name
        = @campaign.user.nickname

%section.section-tab
  %ul.menu.nav.nav-tabs
    %li
      .menu-item
        %a{ "data-toggle" => "tab", "href" => "#content" } 내용
    %li
      .menu-item
        %a{ "data-toggle" => "tab", "href" => "#order" } 촉구
    %li.atcive
      .menu-item
        %a{ "data-toggle" => "tab", "href" => "#comment" }
          의견
          - if @campaign.comments.any?
            %span.count
              = number_with_limit(@campaign.comments.count, 1000)
    %li
      .menu-item
        %a{ "data-toggle" => "tab", "href" => "#story" } 소식
    %li
      .menu-item
        %a{ "data-toggle" => "tab", "href" => "#signer" }
          서명
          - if @campaign.signs.any?
            %span.count
              = number_with_limit(@campaign.signs.count, 1000)

%section.section-panel
  %section.section-right
    %section.section-info
      %script{ type: "text/javascript" }
        :plain
          var campaign_due_date = new Date('#{@campaign.created_at}')
      .campaign-progress
        .campaign-time-to-left.phone-fold
          / 캠페인 목표 서명수처럼 서명 기한(날짜)가 필요함.
          남은 시간
          %br
          .digit-to-left.days
            11
          .div 일
          .digit-to-left.hours 23
          .div :
          .digit-to-left.minutes 00
          .div :
          .digit-to-left.seconds 00
        .campaign-label
          .current-message
            현재 #{number_with_delimiter(@campaign.signs.count, delimiter:",")}명이 서명하였습니다.
          - if @campaign.has_goal?
            #{number_with_delimiter(@campaign.signs_goal_count, delimiter:",")}명
          서명에 동참해주세요.
        - if @campaign.has_goal?
          .campaign-progress-bar
            .current-percent
              #{@campaign.percentage}%
            - if @campaign.success?
              .success-badge
                성공
              .signs-bar{ style: "width: 100%" }
            - else
              .signs-bar{ style: "width: #{@campaign.percentage}%" }
          .campaign-progress-meta.clearfix
            .signs-count
              서명 #{number_with_delimiter(@campaign.signs.count, delimiter:",")}
            .goal-count
              목표 #{number_with_delimiter(@campaign.signs_goal_count, delimiter:",")}
        .campaign-signs
          - @campaign.signs.recent.limit(3).each do |sign|
            .campaign-sign
              .signer-image{ style: "background-image:url(#{asset_url(sign.user_image_url)});" }
              .signed-message
                #{sign.user_name}님이 서명하셨습니다.
        .campaign-sign-form.phone-fold
          .campaign-sign
            .signer-image{ style: "background-image:url(#{asset_url(@campaign.user.image_url(:md))});" }
            .signer-nickname
              = @campaign.user.nickname
          .campaign-sign-input.nickname{ style: "display: none" }
            이름
          .campaign-sign-input.email
            이메일
          .campaign-sign-input.word
            %p 나도 한마디
            %br
          .campaign-sign-btn
            서명하기
          .campaign-sign-privacy-policy
            서명하기를 누르시면 본 서명의
            %a 개인정보취급방침
            에 동의하게 됩니다.
        .campaign-share.phone-fold
          .campaign-share-text
            많은 분들이 캠페인에 참여할 수 있도록 공유해주세요.
          .campaign-share-buttons
            %i.fa.fa-facebook-f.campaign-share-button
            %i.fa.fa-twitter.campaign-share-button
            %i.fa.fa-clipboard.campaign-share-button


  %section.section-left.tab-content
    #content.tab-pane.fade
      %section.section-body
        .section-title
          캠페인 소개
        .campaign-body
          = raw @campaign.body

      %section.section-orders
        .section-title
          캠페인 촉구
        .order-title
          - if @campaign.agents.any?
            지금
            %span.underline
              #{@campaign.agents.first.name}
              - if @campaign.agents.count > 1
                외 #{@campaign.agents.count - 1}
            에 촉구해 주세요
          - else
            촉구 대상를 알려주세요.
        .order-info
          - order_users_with_name = @campaign.comments.joins(:orders).where.not(commenter_name: nil).order("comment_id desc").limit(3)
          - count_order_users = @campaign.comments.joins(:orders).select(:commenter_name, :commenter_email).distinct.count
          - if order_users_with_name.any?
            #{order_users_with_name.first.commenter_name}님
            - if count_order_users >=1
              외 #{@campaign.comments.joins(:orders).select(:commenter_name, :commenter_email).distinct.count - 1}분이
            촉구에 참여중입니다.
          - elsif count_order_users >= 1
            이름을 알리지 않은 #{count_order_users}분이 참여하고 있습니다.
          - else
            지금 바로 촉구하여 참여해보세요.
        .order-users
          - order_users_with_image = User.where(id: @campaign.comments.where.not(user_id: nil).uniq.pluck(:user_id)).limit(3)
          - if order_users_with_image.any?
            .user-images
              - order_users_with_image.reverse.each do |user|
                .user-image-sm.overlapped{ style: "background-image:url(#{asset_url(user.image_url(:md))});" }
          -if count_order_users > 3
            .more +
            .count= count_order_users - 3
        - agents = @campaign.agents
        - if agents.any?
          / 에어전트를 보여주는 순서는 무작위?
          .agents
            - agents.shuffle.take(3).each do |agent|
              .agent
                .agent-image{ style: "background-image:url(#{asset_url(agent.image_url(:md))});" }
                  - unless @campaign.statement_of(agent).present?
                    .agent-unsure 없음
                  - else
                    - case @campaign.statement_of(agent).stance
                    - when "unsure"
                      .agent-unsure 무응답
                    - when "disagree"
                      .agent-disagree 반대
                    - when "agree"
                      .agent-agree 찬성
                .agent-info
                  .agent-name= agent.name
                  / 소속 이름이 비어있는 경우는?
                  / '환경부장관'을 '횐경부, 환경부장관'으로 원래 데이터를 바꿔야 할지
                  .agent-organization= agent.organization
                .agent-order-btn
                  %a{"href": "#", "data-target" => "#agent-request-modal-#{agent.id}", "data-toggle" => "modal", :type => "button" }
                    #{Order.where(agent_id: agent).where(comment_id: @campaign.comments).count + 1}번째로
                    촉구하기
              %div.modal.fade{id: "agent-request-modal-#{agent.id}", :role => "dialog", :tabindex => "-1"}
                .modal-dialog{:role => "document"}
                  .modal-content
                    .modal-header
                      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                        %span{"aria-hidden" => "true"} &#215;
                      %h4.modal-title
                        = image_tag agent.image.md.url, style: "height: 36px;"
                        %strong= agent.name
                        %span.text-muted= agent.organization
                        에게 촉구하기

                    .modal-body
                      .comments-form
                        = form_for Comment.new, html: { class: 'gov-action-form-validation' } do |f|
                          = f.hidden_field :commentable_type, value: 'Campaign'
                          = f.hidden_field :commentable_id, value: @campaign.id
                          = f.hidden_field :target_agent_id, value: agent.id
                          .gov-action-form-grecaptcha-x
                          - unless user_signed_in?
                            .form-group
                              = f.label :commenter_name
                              = f.text_field :commenter_name, class: 'form-control', data: { 'rule-required': true }
                            .form-group
                              = f.label :commenter_email, agent.email.present? ? "이메일(#{agent.name}님에게 메일을 발송하려면 반드시 넣어주세요)" : nil
                              = f.text_field :commenter_email, class: 'form-control'
                          .form-group
                            ~ f.text_area :body, placeholder: '촉구합니다...', class: 'form-control validate ' + ( is_redactorable? ? 'redactor' : ''), data: { 'rule-required': true }
                          - if agent.email.present?
                            .form-group
                              .checkbox
                                %label
                                  = f.check_box :mailing, { checked: true }, 'ready', 'disable'
                                  #{agent.name}님에게 메일로도 발송합니다.
                          = f.submit '작성', class: 'btn btn-primary btn-block'


            / 촉구 탭 완성 후 링크 추가
            .more 더 보기

      %section.section-comments
        .section-title
          의견
        = form_for Comment.new, html: { class: 'comment-form' } do |f|
          .commenter-image{ style: "background-image:url(#{asset_url(@campaign.user.image_url(:xs))});" }
          = f.hidden_field :commentable_type, value: "Campaign"
          = f.hidden_field :commentable_id, value: @campaign.id
          .comment-right
            %a{"class": "comment-box", "href": "#", "data-target" => "#agent-request-modal-comment", "data-toggle" => "modal" }
            = f.submit '등록', class: 'comment-submit-btn'
        .comments
          - @campaign.comments.recent.limit(10).each do |comment|
            .comment
              .comment-controls
                %a
                  삭제
                %a
                  신고
                %a
                  긴급신고
                %a
                  박제
              .comment-form
                .commenter-image{ style: "background-image:url(#{asset_url(comment.user_image)});" }
                .comment-right
                  .comment-header
                    .nickname
                      = comment.user_nickname
                      - if comment.target_agents.any?
                        .comment-agent
                          = comment.target_agents.shuffle.first.name
                          - if comment.target_agents.count > 1
                            외 #{comment.target_agents.count - 1}
                          에 촉구
                    %span.sign-info
                      / comment로 알 수 있는 건.... 촉구? 서명?
                      - if Order.where(comment: comment).present?
                        #{Order.where(comment: @campaign.comments).where("comment_id <= ?", comment.id).select(:comment_id).distinct.count}번째 서명자
                      .date= date_f comment.updated_at
                  .comment-body
                    = raw comment.body
                  .comment-footer
                    = render 'likes/button', likable: comment

    #order.tab-pane.fade
      %section.section-orders-tab
        .orders-tab-title
          - if @campaign.agents.any?
            지금 #{@campaign.agents.first.name}
            - if @campaign.agents.count > 1
              외 #{@campaign.agents.count - 1}
            에 촉구해 주세요
          - else
            촉구 대상자를 알려주세요.
        .orders-tab-title-h5 촉구 많이한 회원 TOP3
        - if @campaign.agents.any?
          .orders-top3
            - order_count_max = Order.where(comment: @campaign.comments).group(:comment_id).order('count_all desc').limit(1).count.first[1]
            - Order.where(comment: @campaign.comments).group(:comment_id).order('count_all desc').order('comment_id desc').limit(3).count.each do |comment_id, comment_count|
              .order-info
                .order-image{ style: "background-image:url(#{asset_url(Comment.find(comment_id).user_image)});" }
                .order-bar
                  .order-bar-count
                    .order-count{ style: "width: #{comment_count / order_count_max * 100}%"}
                .order-count-label
                  = Comment.find(comment_id).user_nickname
                  %br
                  #{comment_count}회 촉구
        .orders-tab-title-h5 촉구 응답 현황
        .response-present
          .response-counts
            .response-count
              .response-tag.agree 찬성
              .count= @campaign.statements.group(:stance).count['agree'] || 0
            .response-count
              .response-tag.disagree 반대
              .count= @campaign.statements.group(:stance).count['disagree'] || 0
            .response-count
              .response-tag.noresponse 무응답
              .count= @campaign.statements.group(:stance).count['unsure'] || 0
          .response-text
            반대, 무응답자를 한번에 촉구해보세요.
          .response-btn
            #{@campaign.agents.count}명
            모두에게 촉구하기
        .orders-tab-title-h5.title-wrap
          .title-left 촉구하기-답변보기
          .title-right
            .response-header-text
              촉구 대상 중 한 분인가요?
            .response-header-btn
              답변하기
        - if agents.any?
          - agents.shuffle.each do |agent|
            .agents
              .agent
                .agent-image{ style: "background-image:url(#{asset_url(agent.image_url(:md))});" }
                  - unless @campaign.statement_of(agent).present?
                    .agent-unsure 없음
                  - else
                    - case @campaign.statement_of(agent).stance
                    - when "unsure"
                      .agent-unsure 무응답
                    - when "disagree"
                      .agent-disagree 반대
                    - when "agree"
                      .agent-agree 찬성
                .agent-info
                  .agent-name= agent.name
                  .agent-orginaztion= agent.organization
                .agent-order-btn
                  %a{"href": "#", "data-target" => "#agent-request-modal-#{agent.id}", "data-toggle" => "modal", :type => "button" }
                    #{Order.where(agent_id: agent).where(comment_id: @campaign.comments).count + 1}번째로
                    촉구하기
              %div.modal.fade{id: "agent-request-modal-#{agent.id}", :role => "dialog", :tabindex => "-1"}
                .modal-dialog{:role => "document"}
                  .modal-content
                    .modal-header
                      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                        %span{"aria-hidden" => "true"} &#215;
                      %h4.modal-title
                        = image_tag agent.image.md.url, style: "height: 36px;"
                        %strong= agent.name
                        %span.text-muted= agent.organization
                        에게 촉구하기

                    .modal-body
                      .comments-form
                        = form_for Comment.new, html: { class: 'gov-action-form-validation' } do |f|
                          = f.hidden_field :commentable_type, value: 'Campaign'
                          = f.hidden_field :commentable_id, value: @campaign.id
                          = f.hidden_field :target_agent_id, value: agent.id
                          .gov-action-form-grecaptcha-x
                          - unless user_signed_in?
                            .form-group
                              = f.label :commenter_name
                              = f.text_field :commenter_name, class: 'form-control', data: { 'rule-required': true }
                            .form-group
                              = f.label :commenter_email, agent.email.present? ? "이메일(#{agent.name}님에게 메일을 발송하려면 반드시 넣어주세요)" : nil
                              = f.text_field :commenter_email, class: 'form-control'
                          .form-group
                            ~ f.text_area :body, placeholder: '촉구합니다...', class: 'form-control validate ' + ( is_redactorable? ? 'redactor' : ''), data: { 'rule-required': true }
                          - if agent.email.present?
                            .form-group
                              .checkbox
                                %label
                                  = f.check_box :mailing, { checked: true }, 'ready', 'disable'
                                  #{agent.name}님에게 메일로도 발송합니다.
                          = f.submit '작성', class: 'btn btn-primary btn-block'

          .more 더보기

    #comment.tab-pane.fade.in.active
      %section.section-comments
        .section-title
          의견
        = form_for Comment.new, html: { class: 'comment-form' } do |f|
          .commenter-image{ style: "background-image:url(#{asset_url(@campaign.user.image_url(:xs))});" }
          = f.hidden_field :commentable_type, value: "Campaign"
          = f.hidden_field :commentable_id, value: @campaign.id
          .comment-right
            %a{"class": "comment-box", "href": "#", "data-target" => "#agent-request-modal-comment", "data-toggle" => "modal" }
            = f.submit '등록', class: 'comment-submit-btn'
        .comment-filter
          = select_tag "CommentTarget", options_from_collection_for_select(@campaign.agents, :name, :name), class: 'filter-select-agent', include_blank: true, prompt: '촉구대상별 보기'
          .filters
            .filter-order-by
              .order-by-recent 최신순
              .order-by-like-count 공감순
            - if user_signed_in?
              .my-comment 내 글 보기
        .comments.infinite-container
          - @campaign.comments.recent.page(1).each do |comment|
            .comment.infinite-item
              - if comment.target_agents.any?
                = hidden_field_tag 'filter-agents', comment.target_agents.select(:name).map{ |x| x.name }.to_json
              = hidden_field_tag 'sort-date', comment.updated_at.to_i
              = hidden_field_tag 'sort-like', comment.merged_likes_count
              .comment-controls
                %a
                  삭제
                %a
                  신고
                %a
                  긴급신고
                %a
                  박제
              .comment-form
                .commenter-image{ style: "background-image:url(#{asset_url(comment.user_image)});" }
                .comment-right
                  .comment-header
                    .nickname
                      = comment.user_nickname
                      - if comment.target_agents.any?
                        .comment-agent
                          = comment.target_agents.shuffle.first.name
                          - if comment.target_agents.count > 1
                            외 #{comment.target_agents.count - 1}
                          에 촉구
                    %span.sign-info
                      / comment로 알 수 있는 건.... 촉구? 서명?
                      - if Order.where(comment: comment).present?
                        #{Order.where(comment: @campaign.comments).where("comment_id <= ?", comment.id).select(:comment_id).distinct.count}번째 서명자
                      .date= date_f comment.updated_at
                  .comment-body
                    = raw comment.body
                  .comment-footer
                    = render 'likes/button', likable: comment
        - unless @campaign.comments.page(1).last_page?
          = link_to '', comments_path(commentable_id: @campaign.id, commentable_type: 'Campaign', page: 2, test: 'signs'), class: "infinite-more-link"

    #story.tab-pane.fade
      %section.section-story
        .section-title 캠페인 소식을 만나 보세요!
        .stories
          - SignerEmail.where(campaign_id: @campaign).each do |email|
            .story
              .story-header
                .user-image-sm{ style: "background-image:url(#{asset_url(@campaign.user.image_url(:md))});" }
                .user-nickname= @campaign.user.nickname
                .date= date_f email.updated_at
              .story-title= email.title
              .story-body
                = raw email.body
              .story-footer
                = render 'likes/button', likable: email

          / .story
          /   .story-header
          /     .user-image-sm{ style: "background-image:url(#{asset_url(@campaign.user.image_url(:md))});" }
          /     .user-nickname= @campaign.user.nickname
          /     .date 3일전
          /   .story-title 캠페인 서명자 5명을 모아주세요.
          /   .story-body
          /     이기적인 사회에 따뜻한 마중물이 된 마음을 가진 분 5분이 서명하도록 공유해주세요. 5분이 서명하면 1,000명 서명 모으기 목표가 달성되어 좀 더 나아갈 수 있습니다. 가크인의 적극적인 참여 부탁드려요.
          /   .story-footer
          /     = render 'likes/button', likable: @campaign.comments.first
          / .story
          /   .story-header
          /     .user-image-sm{ style: "background-image:url(#{asset_url(@campaign.user.image_url(:md))});" }
          /     .user-nickname 홍길동
          /     .date 3일전
          /   .story-title 캠페인 서명자 5명을 모아주세요.
          /   .story-body
          /     이기적인 사회에 따뜻한 마중물이 된 마음을 가진 분 5분이 서명하도록 공유해주세요. 5분이 서명하면 1,000명 서명 모으기 목표가 달성되어 좀 더 나아갈 수 있습니다. 가크인의 적극적인 참여 부탁드려요.
          /   .story-footer
          /     = render 'likes/button', likable: @campaign.comments.first
          / .story
          /   .story-header
          /     .user-image-sm{ style: "background-image:url(#{asset_url(@campaign.user.image_url(:md))});" }
          /     .user-nickname 홍길동
          /     .date 3일전
          /   .story-title 캠페인 서명자 5명을 모아주세요.
          /   .story-body
          /     이기적인 사회에 따뜻한 마중물이 된 마음을 가진 분 5분이 서명하도록 공유해주세요. 5분이 서명하면 1,000명 서명 모으기 목표가 달성되어 좀 더 나아갈 수 있습니다. 가크인의 적극적인 참여 부탁드려요.
          /   .story-footer
          /     = render 'likes/button', likable: @campaign.comments.last

    #signer.tab-pane.fade
      %section.section-signer
        .section-title
          현재 #{@campaign.signs.count}명이 참여하고 있습니다.
        .signers
          - @campaign.signs.order("id desc").limit(10).each do |sign|
            .signer
              .signer-header
                .signer-info
                  .signer-image{ style: "background-image:url(#{asset_url(sign.user_image_url)});" }
                  .nickname= sign.user_name
                  .date= date_f sign.created_at
                .count
                  #{@campaign.signs.where("id <= ?", sign).count}번째 서명자
              .signer-word= sign.body

%section.section-sign-btn.tablet-hide
  .sign-btn
    .sign-btn-text
      서명하기

%div.modal.fade{id: "agent-request-modal-comment", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &#215;
        %h4.modal-title 의견 남기기

      .modal-body
        .comments-form
          = form_for Comment.new, html: { class: 'gov-action-form-validation' } do |f|
            = f.hidden_field :commentable_type, value: 'Campaign'
            = f.hidden_field :commentable_id, value: @campaign.id
            .gov-action-form
            - unless user_signed_in?
              .form-group
                = f.label :commenter_name
                = f.text_field :commenter_name, class: 'form-control', data: { 'rule-required': true }
              .form-group
                = f.label :commenter_email
                = f.text_field :commenter_email, class: 'form-control'
            .form-group
              ~ f.text_area :body, placeholder: '제 생각은...', class: 'form-control validate ' + ( is_redactorable? ? 'redactor' : ''), data: { 'rule-required': true }
            = f.submit '작성', class: 'btn btn-primary btn-block'

/ %section.section-share
/   .facebook-btn
/   .twitter-btn
/   .copy-btn

/ %section.section-recommends
/   .recommends-title
/     가크의 다양한 캠페인을 만나보세요!
/   .campagins
/     .campaign
/       .campaign-img
/       .progress-bar
/       .campaign-title
/         수감자 자녀의 아동친화적 면접권 보장에 동참해주세요!
/       .sign-btn
/         서명하기



