= render 'campaigns/petition_new/section_cover'

= render 'campaigns/petition_new/section_tab', menu: 'comment'

%section.section-panel
  = render 'campaigns/petition_new/section_right'

  %section.section-left.tab-content
    #comment.tab-pane.fade.in.active
      %section.section-comments
        .section-title
          의견
        = form_for Comment.new, html: { class: 'comment-form' } do |f|
          .commenter-image{ style: "background-image:url(#{asset_url(@campaign.user.image_url(:xs))});" }
          = f.hidden_field :commentable_type, value: "Campaign"
          = f.hidden_field :commentable_id, value: @campaign.id
          .comment-right
            %a{"class": "comment-box", "href": "#", "data-target" => "#agent-request-modal-comment", "data-toggle" => "modal" }
            = f.submit '등록', class: 'comment-submit-btn'
        .comment-filter
          = select_tag "CommentTarget", options_from_collection_for_select(@campaign.agents, :name, :name), class: 'filter-select-agent', include_blank: true, prompt: '촉구대상별 보기'
          .filters
            .filter-order-by
              .order-by-recent 최신순
              .order-by-like-count 공감순
            - if user_signed_in?
              .my-comment 내 글 보기
        = render 'campaigns/petition_new/comments', comments: @campaign.comments.recent.page(1)

= render 'campaigns/petition_new/sign_button'
