= render 'campaigns/petition_new/section_cover'

= render 'campaigns/petition_new/section_tab', menu: 'signer'

%section.section-panel
  = render 'campaigns/petition_new/section_right'

  %section.section-left.tab-content
    #order.tab-pane.fade.in.active
      %section.section-orders-tab
        .orders-tab-title
          - if @campaign.agents.any?
            지금 #{@campaign.agents.first.name}
            - if @campaign.agents.count > 1
              외 #{@campaign.agents.count - 1}
            에 촉구해 주세요
          - else
            촉구 대상자를 알려주세요.
        .orders-tab-title-h5 촉구 많이한 회원 TOP3
        - if @campaign.agents.any?
          .orders-top3
            - order_count_max = Order.where(comment: @campaign.comments).group(:comment_id).order('count_all desc').limit(1).count.first[1]
            - Order.where(comment: @campaign.comments).group(:comment_id).order('count_all desc').order('comment_id desc').limit(3).count.each do |comment_id, comment_count|
              .order-info
                .order-image{ style: "background-image:url(#{asset_url(Comment.find(comment_id).user_image)});" }
                .order-bar
                  .order-bar-count
                    .order-count{ style: "width: #{comment_count / order_count_max * 100}%"}
                .order-count-label
                  = Comment.find(comment_id).user_nickname
                  %br
                  #{comment_count}회 촉구
        .orders-tab-title-h5 촉구 응답 현황
        .response-present
          .response-counts
            .response-count
              .response-tag.agree 찬성
              .count= @campaign.statements.group(:stance).count['agree'] || 0
            .response-count
              .response-tag.disagree 반대
              .count= @campaign.statements.group(:stance).count['disagree'] || 0
            .response-count
              .response-tag.noresponse 무응답
              .count= @campaign.statements.group(:stance).count['unsure'] || 0
          .response-text
            반대, 무응답자를 한번에 촉구해보세요.
          .response-btn
            #{@campaign.agents.count}명
            모두에게 촉구하기
        .orders-tab-title-h5.title-wrap
          .title-left 촉구하기-답변보기
          .title-right
            .response-header-text
              촉구 대상 중 한 분인가요?
            .response-header-btn
              답변하기
        - agents = @campaign.agents
        - if agents.any?
          - agents.shuffle.each do |agent|
            .agents
              .agent
                .agent-image{ style: "background-image:url(#{asset_url(agent.image_url(:md))});" }
                  - unless @campaign.statement_of(agent).present?
                    .agent-unsure 없음
                  - else
                    - case @campaign.statement_of(agent).stance
                    - when "unsure"
                      .agent-unsure 무응답
                    - when "disagree"
                      .agent-disagree 반대
                    - when "agree"
                      .agent-agree 찬성
                .agent-info
                  .agent-name= agent.name
                  .agent-orginaztion= agent.organization
                .agent-order-btn
                  %a{"href": "#", "data-target" => "#agent-request-modal-#{agent.id}", "data-toggle" => "modal", :type => "button" }
                    #{Order.where(agent_id: agent).where(comment_id: @campaign.comments).count + 1}번째로
                    촉구하기
              %div.modal.fade{id: "agent-request-modal-#{agent.id}", :role => "dialog", :tabindex => "-1"}
                .modal-dialog{:role => "document"}
                  .modal-content
                    .modal-header
                      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                        %span{"aria-hidden" => "true"} &#215;
                      %h4.modal-title
                        = image_tag agent.image.md.url, style: "height: 36px;"
                        %strong= agent.name
                        %span.text-muted= agent.organization
                        에게 촉구하기

                    .modal-body
                      .comments-form
                        = form_for Comment.new, html: { class: 'gov-action-form-validation' } do |f|
                          = f.hidden_field :commentable_type, value: 'Campaign'
                          = f.hidden_field :commentable_id, value: @campaign.id
                          = f.hidden_field :target_agent_id, value: agent.id
                          .gov-action-form-grecaptcha
                          - unless user_signed_in?
                            .form-group
                              = f.label :commenter_name
                              = f.text_field :commenter_name, class: 'form-control', data: { 'rule-required': true }
                            .form-group
                              = f.label :commenter_email, agent.email.present? ? "이메일(#{agent.name}님에게 메일을 발송하려면 반드시 넣어주세요)" : nil
                              = f.text_field :commenter_email, class: 'form-control'
                          .form-group
                            ~ f.text_area :body, placeholder: '촉구합니다...', class: 'form-control validate ' + ( is_redactorable? ? 'redactor' : ''), data: { 'rule-required': true }
                          - if agent.email.present?
                            .form-group
                              .checkbox
                                %label
                                  = f.check_box :mailing, { checked: true }, 'ready', 'disable'
                                  #{agent.name}님에게 메일로도 발송합니다.
                          = f.submit '작성', class: 'btn btn-primary btn-block'

          .more 더보기

= render 'campaigns/petition_new/sign_button'
