%section#footer
  .container-fluid.container-fluid-always
    .row
      .col-sm-6
        %span
          = link_to '사회적협동조합 빠띠, 더 민주적인 세상을 만듭니다.', 'https://parti.coop', target: '_blank'
      .col-sm-6.text-right.hidden-xs
        %span
          = link_to '문의', 'mailto:contact@campaigns.kr'
        &middot;
        %span
          = link_to '이용약관', '/terms'
        &middot;
        %span
          %b
            = link_to '개인정보처리방침', privacy_path
      .col-sm-6.visible-xs
        %span
          = link_to '문의', 'mailto:contact@campaigns.kr'
        &middot;
        %span
          = link_to '이용약관', '/terms'
        &middot;
        %span
          %b
            = link_to '개인정보처리방침', privacy_path
