%section#site-header
  - if request.env['REQUEST_PATH'] == '/' and cookies[:skip_notice] != 'Y'
    .alert.alert-info.alert-dismissable{ style: 'margin-bottom: 0' }
      .container{ role: "alert" }
        .row
          .col-12
            %span
              %i.fa.fa-flag
              = link_to '합병에 따른 개인정보 이전 통지 및 약관변경 안내', notice_path
      .notice
        %button.close#js-notice-button-close{ type: "button", "data-dismiss" => "alert", "aria-label" => "Close" }
          %span{ "aria-hidden" => "true" } &times
  %nav.navbar.navbar-default.navbar-static-top{ style: 'margin: 0' }
    #header-container.container-fluid.container-fluid-always
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to '빠띠 캠페인즈', root_path, class: 'navbar-brand', style: ""
      #navbar.navbar-collapse.collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to '캠페인 목록', campaigns_path
          %li
            = link_to '캠페인 시작하기', new_campaign_path
          - if user_signed_in?
            %li
              = link_to '내 캠페인 보기', current_user
            %li
              = link_to '로그아웃', sign_out_path, method: :delete
          - else
            %li
              = link_to '로그인', new_user_session_path
