%section#site-header
  %nav.navbar.navbar-default.navbar-static-top{ style: 'margin: 0' }
    #header-container.container-fluid.container-fluid-always
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to '빠띠 캠페인즈', root_path, class: 'navbar-brand', style: ""
      #navbar.navbar-collapse.collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to '캠페인 목록', campaigns_path
          %li
            = link_to '캠페인 시작하기', new_campaign_path
          - if user_signed_in?
            %li
              = link_to '로그아웃', sign_out_path, method: :delete
          - else
            %li
              = link_to '로그인', new_user_session_path