.modal.fade{ id: modal_dom_id, tabindex: -1, role: 'dialog' }
  .modal-dialog{ role: 'document' }
    .modal-content
      .modal-header{ style: "border: 0; padding: 5px 5px 0 0;" }
        %button.close{ 'data-dismiss' => 'modal', 'aria-label' => 'Close' }
          %span{ 'aira-hidden' => 'true' } &times;
      - unless @picket.image.file.nil?
        = image_tag @picket.image.lg.url, class: "mt-2", style: 'max-width: 100%;'
      .modal-body
        %section.section-picket-more{ style: 'margin-bottom: -16px;' }
          %strong
            = @picket.user_nickname

          .my-2
            != @picket.body

          .my-2
            - @picket.tags.each do |tag|
              .picket-tag
                = tag.name

          .my-2.d-flex.justify-content-between
            %small= date_f @picket.created_at
            %small= render 'reports/button', reportable: @picket

          .my-4.d-flex.justify-content-between
            %small= render 'likes/button', likable: @picket
