.campaign-pickets.container
  .row.js-infinite-container.masonry-container
    - pickets.each do |picket|
      .col-6.col-md-3.mb-4.masonry-item.infinite-item[picket]
        - unless picket.image.file.nil?
          .card.bg-dark.text-white
            = image_tag picket.image.md.url, class: "card-img"
            .card-body
              %div
                %span.user.font-weight-bold
                  - if picket.user_nickname.length > 10
                    = "#{picket.user_nickname[0..14]}..."
                  - else
                    = picket.user_nickname
                %small.picket-date
                  = date_f picket.created_at

              .picket-message.my-2
                = excerpt picket.body

              .d-flex.justify-content-between
                %small= render 'likes/button', likable: picket
                %small.control-btn
                  - if can? :destroy, picket
                    = link_to "삭제", comment_path(picket), method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }
                  - else
                    = render 'reports/button', reportable: picket
        - else
          - themes = ["", "", "", "bg-dark text-white", "bg-light text-dark"]
          .card{ class: themes[rand(themes.count)] }
            .card-body
              .user.font-weight-bold
                .user-name
                  - if picket.user_nickname.length > 10
                    = "#{picket.user_nickname[0..14]}..."
                  - else
                    = picket.user_nickname

              .picket-message.my-2
                = excerpt picket.body
                %div
                  %small= link_to '더 보기 >', picket_campaign_path(@campaign, picket_id: picket), remote: true, class: 'more'

              .d-flex.justify-content-between
                %small.picket-date
                  = date_f picket.created_at
                %small.control-btn
                  - if can? :destroy, picket
                    = link_to "삭제", comment_path(picket), method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }
                  - else
                    = render 'reports/button', reportable: picket
            .card-footer
              .d-flex.justify-content-between
                %small= render 'likes/button', likable: picket

- unless pickets.last_page?
  = link_to '', pickets_campaign_path(@campaign, page: pickets.next_page), class: 'infinite-more-link'

:css
  #{@campaign.css}
