- picket_form_block = capture do
  .picket-form.panel-body
    = form_for Comment.new, html: { class: 'gov-action-form-validation' } do |f|
      = f.hidden_field :commentable_type, value: 'Campaign'
      = f.hidden_field :commentable_id, value: @campaign.id
      .gov-action-form-grecaptcha
      - unless user_signed_in?
        .form-group
          = f.label :commenter_name, '이름'
          = f.text_field :commenter_name, class: 'form-control', data: { 'rule-required': true }
        .form-group
          = f.label :commenter_email
          = f.text_field :commenter_email, class: 'form-control'
      - if @campaign.template == 'photo' or @campaign.template == 'map'
        .form-group
          = f.label :image, '사진'
          = f.file_field :image, class: 'form-control'
      - if @campaign.template == 'map'
        .form-group
          = f.label :full_street_address
          = f.text_field :full_street_address, class: 'form-control'
      .form-group
        = f.label :body, '나도 한마디'
        = f.hidden_field :is_html_body, value: is_redactorable?
        - unless is_redactorable?
          - f.object.body = Html2Text.convert(f.object.body)
        ~ f.text_area :body, placeholder: '여러분의 목소리를 들려주세요', class: 'form-control input-lg validate ' + ( is_redactorable? ? 'redactor' : ''), style: 'height: 150px', data: { 'rule-required': true }
      .form-group
        = f.text_field :tag_list, placeholder: '태그, 태그를 입력해주세요', class: 'form-control'
      .form-group
        = f.submit '등록', class: 'btn btn-primary btn-lg btn-block'
      = render 'campaigns/comments_privacy_confirm', campaign: @campaign
.modal.fade{ id: modal_dom_id, role: 'dialog', tabindex: '-1' }
  .modal-dialog{ role: 'document' }
    .modal-content
      .modal-header
        %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button' }
          %span{ 'aria-hidden' => 'true'} &#215;
        %h4.modal-title 팻말 등록하기
      .modal-body
        = picket_form_block
