.picket-map-more
  .picket-info
    .control-btn
      = render 'reports/button', reportable: @picket
    .user
      .user-image-sm{ style: "background-image:url(#{asset_url(@picket.user_image)});" }
      .user-name
        = @picket.user_nickname
      .picket-date
        = date_f @picket.created_at
  .picket-image{ style: "background-image:url(#{@picket.image.lg.url});" }
  .picket-body
    = @picket.body
  .picket-tags
    - @picket.tags.each do |tag|
      .picket-tag
        = tag.name
  .like-button
    = render 'likes/button', likable: @picket
