.modal.fade{ id: modal_dom_id, tabindex: -1, role: 'dialog' }
  .modal-dialog{ role: 'document' }
    .modal-content
      .modal-header{ style: "border: 0; padding: 5px 5px 0 0;" }
        %button.close{ 'data-dismiss' => 'modal', 'aria-label' => 'Close' }
          %span{ 'aira-hidden' => 'true' } &times;
      .modal-body
        %section.section-picket-more
          .picket-info
            .control-btn
              = render 'reports/button', reportable: @picket
            .user
              .user-image-sm{ style: "background-image:url(#{asset_url(@picket.user_image)});" }
              .user-name
                = @picket.user_nickname
              .picket-date
                = date_f @picket.created_at
      - if @picket.image?
        .picket-image{ style: "background-image:url(#{asset_url(@picket.image)});" }
      - if @picket.latitude.present? and @picket.longitude.present?
        .picket-map-location
          #picket-map{ style: 'width: 100%; height: 100%' }
      .modal-body
        %section.section-picket-more
          .picket-body
            = @picket.body
          .picket-tags
            - @picket.tags.each do |tag|
              .picket-tag
                = tag.name
          .like-button
            = render 'likes/button', likable: @picket
      .modal-body
        %section.section-comments.section-picket-more
          .picket-comment-info
            %i.fa.fa-heart
              .text
                공감
                = @picket.merged_likes_count
            %i.fa.fa-heart
              .text
                댓글
                = @picket.comments.count
          .section-title
            댓글을 남겨주세요.
          - page_dom_id = build_uid
          = render 'comments/picket_form_line', commentable: @picket
          - if @picket.comments.count == 0
            .waiting-comments
              = image_tag(asset_url('campaigns/campaign-waiting-comments'))
              %p 등록된 댓글이 없습니다.
          - else
            = render 'comments/picket', commentable: @picket, comments: @picket.comments.recent.page(1), dom_id: page_dom_id
