%section.section-tab
  %ul.menu
    %li{ class: [menu == 'content' && "active"] }
      .menu-item
        - if menu == 'content'
          내용
        - else
          = link_to '내용', contents_campaign_path
    %li{ class: [menu == 'picket' && "active"] }
      .menu-item
        - if menu == 'picket'
          팻말
          - if @campaign.comments.any?
            %span.count
              = number_with_limit(@campaign.comments.size, 1000)
        - else
          = link_to pickets_campaign_path do
            팻말
            - if @campaign.comments.any?
              %span.count
                = number_with_limit(@campaign.comments.size, 1000)
    - if @campaign.agents.any?
      %li{ class: [menu == 'order' && "active"]  }
        .menu-item
          - if menu == 'order'
            촉구
          - else
            = link_to '촉구', orders_campaign_path
    %li{ class: [menu == 'story' && "active"] }
      .menu-item
        - if menu == 'story'
          소식
        - else
          = link_to '소식', stories_campaign_path
    - if can? :edit, @campaign
      %li
        .menu-item
          = link_to edit_campaign_path(@campaign) do
            %i.fa.fa-gear
            관리

  .container-picket
    = link_to '팻말들기', picket_form_campaign_path(@campaign), class: 'picket-btn medium-fold', remote: true
