= render 'campaigns/picket/section_cover'
= render 'campaigns/picket/section_tab', menu: 'content'

%section.section-panel
  = render 'campaigns/picket/section_right'

  %section.section-left
    %section.section-body
      .section-title
        캠페인 소개
      .campaign-body
        = raw @campaign.body

      - if @campaign.opened?
        .campaign-body-info
          이 캠페인은 #{static_day_f(@campaign.opened_at)}에 시작되었습니다.
          - if @campaign.issue.present?
            %br
            이슈
            %span.issue= @campaign.issue.title

    - if @campaign.agents.any?
      %hr
      %section.section-orders.section-orders-tab
        .section-title
          캠페인 촉구

        = render 'campaigns/order_dashboard', campaign: @campaign

        - if @campaign.opened?
          .orders-tab-title-h5.title-wrap
            .title-left 촉구하기

          - agents_shuffled = @campaign.need_to_order_agents_shuffled
          - if agents_shuffled.any?
            .agents
              - agents_shuffled.first(3).each do |agent|
                = render 'campaigns/agent', campaign: @campaign, agent: agent, statement: @campaign.statement_of(agent)
          .more
            = link_to '더 보기', orders_campaign_path(@campaign)
    %hr
    %section.section-comments
      .section-title
        팻말
      = render 'comments/page_formal', commentable: @campaign, comments: @campaign.comments.recent.page(1), finite: true
      .more
        = link_to '더 보기', pickets_campaign_path(@campaign)

= render 'campaigns/picket/picket_button'
