= render 'campaigns/picket/section_cover'

= render 'campaigns/picket/section_tab', menu: 'order'

%section.section-panel
  = render 'campaigns/picket/section_right'

  %section.section-left
    %section.section-orders.section-orders-tab
      .orders-tab-title
        - if @campaign.opened?
          지금 #{@campaign.agents_shuffled.first.name}
          - agents_count = @campaign.agents.count
          - if agents_count > 1
            외 #{agents_count - 1}
          대상에게 촉구해 주세요
        - else
          캠페인 촉구

      .orders-tab-title-h5 촉구 응답 현황

      = render 'campaigns/order_dashboard', campaign: @campaign

      - if @campaign.opened?
        .orders-tab-title-h5.title-wrap
          .title-left 촉구하기
          .title-right
            .response-header-text
              촉구 대상 중 한 분인가요?
            = link_to [:edit_statements, @campaign], class: 'response-header-btn' do
              답변하기

        - agents = @campaign.agents.order(name: :asc).page(1).per(10)
        - if agents.any?
          = render 'campaigns/agents_page', campaign: @campaign, agents: agents, next_path: agents_campaign_path(@campaign, page: agents.next_page)
= render "campaigns/analytics"