- if params[:page].present? and params[:page].to_i > 1
  = render 'campaigns/picket/pickets', template: @campaign.template, pickets: @pickets
- else
  = render 'cover', menu: "content"

  - if @campaign.template == 'map'
    = render 'campaigns/picket/section_map'

  %section.mt-5
    - if @campaign.comments.tag_counts_on(:tags).any?
      %section.section-picket-tags.my-5
        .container
          .text-center
            - @campaign.comments.tag_counts_on(:tags).order("count desc, name").each do |tag|
              = link_to pickets_campaign_path(@campaign, {tag: tag.name}), class: ( params[:tag] == tag.name ? "mb-2 btn btn-sm btn-primary" : "mb-2 btn btn-sm btn-outline-secondary" ) do
                = tag.name
                %small
                  = tag.count


    %section.section-pickets.my-5
      - if @pickets.count == 0
        .container
          .waiting-pickets.text-center
            = image_tag('no-comment.png')
            %p.lead 등록된 팻말이 없습니다. 첫번 째로 팻말을 들어주세요.

      - else
        .container-picket
          = render 'campaigns/picket/pickets', template: @campaign.template, pickets: @pickets

  = render 'campaigns/picket/picket_button'
= render "campaigns/analytics"