.agents.js-infinite-container
  - agents.each do |agent|
    .agent.infinite-item
      .agent-image.agent-image-top{ style: "background-image:url(#{asset_url(agent.image_url(:md))});" }
        - unless @campaign.statement_of(agent).present?
          .agent-unsure 없음
        - else
          - case @campaign.statement_of(agent).stance
          - when "unsure"
            .agent-unsure 무응답
          - when "disagree"
            .agent-disagree 무응답
          - when "agree"
            .agent-agree 응답
      .agent-info
        .agent-name= agent.name
        .agent-orginaztion= agent.organization
      = link_to order_form_campaign_path(campaign_id: @campaign.id, agent_id: agent.id), remote: true, class: 'agent-order-btn' do
        #{Order.where(agent_id: agent).where(comment_id: @campaign.comments).count + 1}번째로
        촉구하기
- unless agents.last_page?
  = link_to '', agents_campaign_path(@campaign, page: agents.next_page), class: 'infinite-more-link'
