%section.section-right
  %section.section-info
    .campaign-progress
      - if @campaign.opened?
        .campaign-time-to-left.js-campaign-time-to-left.hidden-xs{ 'data-campaign-time-to-left-due-date': bot_day_f(@campaign.created_at)}
          진행 시간
          %br
          .digit-to-left.days
            ___
          .div 일
          .digit-to-left.hours __
          .div :
          .digit-to-left.minutes __
          .div :
          .digit-to-left.seconds __
      - else
        .campaign-time-to-left.hidden-xs
          종료일
          %br
          .digit-to-left.days= static_day_f(@campaign.closed_at)
      .campaign-label
        .current-message
          - if @campaign.opened?
            현재 #{number_with_delimiter(@campaign.order_users_count)}명이 촉구하였습니다.
          - else
            총 #{number_with_delimiter(@campaign.order_users_count)}명이 촉구하였습니다.
      - if @campaign.has_goal?
        .campaign-progress-bar{ class: ('running' unless @campaign.success_order?) }
          .current-percent
            #{@campaign.percentage_order}%
          - if @campaign.success_order?
            .success-badge
              성공
            .signs-bar{ style: "width: 100%" }
          - else
            .signs-bar{ style: "width: #{@campaign.percentage_order}%" }
        .campaign-progress-meta.clearfix
          .signs-count
            촉구 #{number_with_delimiter(@campaign.order_users_count, delimiter:",")}
          .goal-count
            목표 #{number_with_delimiter(@campaign.signs_goal_count, delimiter:",")}

      .campaign-signs
        - @campaign.highlight_ordered_comments(3).each do |comment|
          .campaign-sign
            .signer-image{ style: "background-image:url(#{asset_url(comment.user_image)});" }
            .signed-message
              #{comment.user_nickname}님이 촉구하셨습니다.

      - if @campaign.opened?
        .campaign-sign-form
          = link_to [:new_comment_agent, @campaign], class: "btn btn-danger btn-lg btn-block campaign-sign-btn" do
            #{@campaign.agents.count}명
            모두에게 촉구하기

      .more{ style: 'text-align: center; margin: 1em 0 0;' }
        = link_to '자세히 보기...', orders_campaign_path(@campaign), style: 'color: gray'

      .campaign-share.phone-fold
        .campaign-share-text
          - if @campaign.opened?
            많은 분들이 캠페인에 참여할 수 있도록 공유해주세요.
          - else
            많은 분들에게 이 캠페인을 공유해주세요.
        .campaign-share-buttons
          = link_to "https://www.facebook.com/sharer/sharer.php?u=#{campaign_url(@campaign)}", class: 'campaign-share-button', target: '_blank' do
            %i.fa.fa-facebook-f
          = link_to "http://twitter.com/share?url=#{campaign_url(@campaign)}", class: 'campaign-share-button', target: '_blank' do
            %i.fa.fa-twitter
          = hidden_field_tag "share-url", "#{campaign_url(@campaign)}"
          .js-clipboard.campaign-share-button{ 'data-clipboard-text': campaign_url(@campaign), 'data-toggle': 'tooltip', 'data-trigger': 'manual', 'data-title': '캠페인 공유 주소를 복사하였습니다.', style: "margin-left: 6px" }
            %i.fa.fa-clipboard


