= render 'campaigns/special_agenda/section_cover'

= render 'campaigns/special_agenda/section_tab', menu: 'order'

%section.section-panel
  = render 'campaigns/special_agenda/section_right'

  %section.section-left
    %section.section-orders-tab
      .orders-tab-title
        - if @campaign.agents.any?
          지금 #{@campaign.agents.first.name}
          - if @campaign.agents.count > 1
            외 #{@campaign.agents.count - 1}
          대상에게 촉구해 주세요
        - else
          촉구 대상자를 알려주세요.

      - agree_count = @campaign.statements.group(:stance).count['agree'] || 0
      .orders-tab-title-h5 촉구 응답 현황
      .response-present
        .response-counts
          .response-count
            .response-tag.agree 응답완료
            .count= agree_count
          .response-count
            .response-tag.noresponse 무응답
            .count= @campaign.agents.count - agree_count
        .response-text
          무응답자를 한번에 촉구해보세요.
        = link_to [:new_comment_agent, @campaign], class: 'response-btn' do
          #{@campaign.agents.count}명
          모두에게 촉구하기

      - @campaign.total_action_assignables.each do |action_assignable|
        - if @campaign.responded_agents(action_assignable).any?
          %div{ style: 'margin: 14px 0' }
            - @campaign.responded_agents(action_assignable).each do |agent|
              = render 'campaigns/agent', agent: agent, campaign: @campaign, template: 'line', agency: action_assignable


      .orders-tab-title-h5 정당별 촉구 응답 현황
      .orders-top3{ style: 'height: auto' }
        - agency = Agency.find_by(title: '20대국회')
        - total_count = @campaign.responded_agents(agency).count
        - slug_map = { '자유한국당': 'jayu', '더불어민주당': 'minju', '무소속': 'mu', '바른미래당': 'bareun', '민주평화당': 'minjupeace', '정의당': 'jeongeu', '민중당': 'minjung', '대한애국당': 'deahan' }
        - %w(자유한국당 더불어민주당 국민의당 민주평화당 정의당 민중당 무소속 바른정당 대한애국당).shuffle.each do |party_name|
          - party_count = @campaign.responded_agents.where(organization: party_name).count
          .order-info
            .order-image{ style: "background-image:url(#{asset_url("icon-candle.png")});" }
            .order-bar
              .order-bar-count
                .order-count{ style: "width: #{party_count.to_f / total_count.to_f * 100}%"}
            .order-count-label{ style: 'width: 100px' }
              = party_name
              %br
              #{agency.agents.where(organization: party_name).count}명 중 #{party_count}명 응답

      .orders-tab-title-h5.title-wrap
        .title-left 촉구하기
      - agents = @campaign.agents.order(name: :asc).page(1).per(10)
      - if agents.any?
        = render 'campaigns/special_agenda/agents', agents: agents

