= render 'campaigns/special_agenda/section_cover'

= render 'campaigns/special_agenda/section_tab', menu: 'order'

%section.section-panel
  = render 'campaigns/special_agenda/section_right'

  %section.section-left
    %section.section-orders-tab
      .orders-tab-title
        - if @campaign.agents.any?
          지금 #{@campaign.agents.first.name}
          - if @campaign.no_reaction_agents_count > 1
            외 #{@campaign.no_reaction_agents_count - 1}
          국회의원에게 선거제도 개혁을 촉구해주세요.

      .orders-tab-title-h5 선거제 개편 및 국회 특권 폐지 설문 응답 현황
      .response-present
        .response-counts
          .response-count
            .response-tag.agree 응답
            .count= @campaign.reacted_agents_count
          .response-count
            .response-tag.noresponse 무응답
            .count= @campaign.no_reaction_agents_count
        .response-text
          무응답자를 한번에 촉구해보세요.
        = link_to [:new_comment_agent, @campaign], class: 'response-btn' do
          #{@campaign.no_reaction_agents_count}명
          모두에게 촉구하기

      / - @campaign.total_action_assignables.each do |action_assignable|
      /   - if @campaign.responded_agents(action_assignable).any?
      /     %div{ style: 'margin: 14px 0' }
      /       - @campaign.responded_agents(action_assignable).each do |agent|
      /         = render 'campaigns/agent', agent: agent, campaign: @campaign, template: 'line', agency: action_assignable

      / .orders-tab-title-h5 정당별 촉구 응답 현황
      / - agency = Agency.find_by(title: '20대국회')
      / - party_slug_map = { '자유한국당': 'jayu', '더불어민주당': 'minju', '무소속': 'mu', '바른미래당': 'bareun', '민주평화당': 'minjupeace', '정의당': 'jeongeu', '민중당': 'minjung', '대한애국당': 'deahan' }
      / - party_slug_map.keys.shuffle.each do |party_name|
      /   - party_all_agent_count = agency.agents.where(organization: party_name).count
      /   - party_responded_agent_count = @campaign.responded_agents.where(organization: party_name).count
      /   - party_no_respond_agent_count = party_all_agent_count - party_responded_agent_count
      /   .orders-top3{ style: 'height: auto; margin-top: 0' }
      /     .order-parti-header{ style: 'margin-bottom: 8px; position: relative;' }
      /       = image_tag "assembly/#{party_slug_map[party_name]}.png", class: 'order-party', style: 'width: 120px; height: 50px; vertical-align: bottom;'
      /       %span.order-party-all-agent-count{ style: 'border-radius: 15.5px; border: solid 1px #979797; padding: 5px 12px; position: absolute; bottom: 0; right: 0;' }
      /         %small 의석수
      /         %span{ style: 'font-weight: bold;' }= party_all_agent_count
      /     .order-party-vs{ style: 'display: flex;' }
      /       .order-party-cell.responded{ style: 'width: 50%; padding-right: 5px;' }
      /         .cell-header{ style: 'background-color: #2575ef; color: white; vertical-align: c; height: 90px; display: flex; flex-flow: column; align-items: center; justify-content: center;' }
      /           .title 응답
      /           .count= party_responded_agent_count
      /         .cell-body
      /           - @campaign.responded_agents.where(organization: party_name).each do |agent|
      /             = render 'campaigns/special_agenda/agent_order', agent: agent, campaign: @campaign
      /             / - uid_dom_id = "uid-#{SecureRandom.uuid}"
      /             / .cell-item.cursor-pointer.js-popover{ style: "width: #{100/6.0}%; height: 40px; background-image: url(#{agent.image.md.url}); background-size:cover; background-position: center;", "data-url": "##{uid_dom_id}", "data-placement": "bottom", "data-trigger": "click" }
      /             /   .overlay{ style: "width: 100%; height: 100%; background-color: rgba(75, 75, 75, 0.#{rand(1..2)});" }
      /             /   .hidden
      /             /     %div{ id: uid_dom_id }
      /             /       %strong= agent.name
      /             /       - if agent.category == '개인'
      /             /         %small.text-muted.text-nowrap= agent.organization
      /       .order-party-cell.no_respond{ style: 'width: 50%; padding-left: 5px;' }
      /         .cell-header{ style: 'background-color: #8b8b8b; color: white; vertical-align: c; height: 90px; display: flex; flex-flow: column; align-items: center; justify-content: center;' }
      /           .title 무응답
      /           .count= party_no_respond_agent_count
      /         .cell-body
      /           - agency.agents.where(organization: party_name).where.not(id: @campaign.responded_agents).each do |agent|
      /             = render 'campaigns/special_agenda/agent_order', agent: agent, campaign: @campaign
      /             / - uid_dom_id = "uid-#{SecureRandom.uuid}"
      /             / .cell-item.cursor-pointer.js-popover{ style: "width: #{100/6.0}%; height: 40px; background-image: url(#{agent.image.md.url}); background-size:cover; background-position: center;", "data-url": "##{uid_dom_id}", "data-placement": "bottom", "data-trigger": "click" }
      /             /   .overlay{ style: "width: 100%; height: 100%; background-color: rgba(75, 75, 75, 0.#{rand(1..2)});" }
      /             /   .hidden
      /             /     %div{ id: uid_dom_id }
      /             /       %strong= agent.name
      /             /       - if agent.category == '개인'
      /             /         %small.text-muted.text-nowrap= agent.organization


      / .orders-tab-title-h5.title-wrap
      /   .title-left 촉구하기
      / - agents = @campaign.agents.order(name: :asc).page(1).per(10)
      / - if agents.any?
      /   = render 'campaigns/special_agenda/agents', agents: agents

= render 'campaigns/special_agenda/order_button'
