= render 'campaigns/special_agenda/section_cover'

= render 'campaigns/special_agenda/section_tab', menu: 'order'

%section.section-panel
  = render 'campaigns/special_agenda/section_right'

  %section.section-left
    %section.section-orders-tab.section-orders-tab-special-agenda
      .orders-tab-title
        - if @campaign.agents.any?
          국회의원에게 선거제도 개혁을 촉구해주세요.

      .orders-tab-title-h5 선거제 개편 및 국회 특권 폐지 설문 응답 현황
      .response-present
        .response-counts
          .response-count
            .response-tag.agree 응답
            .count= @campaign.reacted_agents_count
          .response-count
            .response-tag.noresponse 무응답
            .count= @campaign.no_reaction_agents_count
        .response-text
          무응답자를 한번에 촉구해보세요.
        = link_to [:new_comment_agent, @campaign], class: 'response-btn' do
          #{@campaign.no_reaction_agents_count}명
          모두에게 촉구하기

      .orders-tab-title-h5 정당별 촉구 응답 현황
      - agency = Agency.find_by(title: '20대국회')
      - party_slug_map = { '자유한국당': 'jayu', '더불어민주당': 'minju', '무소속': 'mu', '바른미래당': 'bareun', '민주평화당': 'minjupeace', '정의당': 'jeongeu', '민중당': 'minjung', '대한애국당': 'deahan' }
      - party_slug_map.keys.shuffle.each do |party_name|
        - cache "campaign-orders-#{party_slug_map[party_name]}-#{@campaign.id}", race_condition_ttl: 30.seconds, expires_in: 1.hours do
          - party_all_agent_count = agency.agents.where(organization: party_name).count
          - party_responded_agent_count = @campaign.responded_agents.where(organization: party_name).count
          - party_no_respond_agent_count = party_all_agent_count - party_responded_agent_count
          .orders-party
            .order-parti-header
              = image_tag "assembly/#{party_slug_map[party_name]}.png", class: 'order-party-logo'
              %span.order-party-all-agent-count
                %small 의석수
                %span.number= party_all_agent_count
            .order-party-vs
              .order-party-cell.responded{ class: ('order-party-cell-zero' if party_responded_agent_count <= 0)}
                .cell-header
                  .title 응답
                  .count= party_responded_agent_count
                .cell-body
                  - @campaign.responded_agents.where(organization: party_name).order(name: :asc).each do |agent|
                    = render 'campaigns/special_agenda/agent_order', agent: agent, campaign: @campaign
              .order-party-cell.no_respond{ class: ('order-party-cell-zero' if party_no_respond_agent_count <= 0)}
                .cell-header
                  .title 무응답
                  .count= party_no_respond_agent_count
                .cell-body
                  - agency.agents.where(organization: party_name).where.not(id: @campaign.responded_agents).order(name: :asc).each do |agent|
                    = render 'campaigns/special_agenda/agent_order', agent: agent, campaign: @campaign

= render 'campaigns/special_agenda/order_button'
