!!!
%html.has-footer{:lang => I18n.locale}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
    = display_meta_tags
    = render 'favicons'
    %title 빠띠 캠페인즈
    = stylesheet_link_tag 'application', media: 'all'
    %link{:href => "https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-flat.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css", :rel => "stylesheet", :type => "text/css"}
    = csrf_meta_tags
    - if Rails.env.production?
      %script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=UA-93481585-1"}
      :javascript
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-93481585-1', { 'groups': 'all' });

    - if ENV['RECAPTCHA']
      = include_recaptcha_js

  %body{class: "app-#{params[:controller]} app-#{params[:controller]}-#{params[:action]}"}
    %section(style='position: fixed; z-index: 2000; width: 80%; left: 0; margin-left: auto; margin-right: auto; right: 0;')
      .unobtrusive-flash-container

    - if content_for?(:header)
      = yield :header
    - else
      = render 'application/header'
    = yield
    - if content_for?(:footer)
      = yield :footer
    - else
      = render 'footer'

    %script{:src => "https://www.gstatic.com/charts/loader.js"}
    = javascript_include_tag 'application'
    :javascript
      Chartkick.configure({language: "ko"});
    %script{:src => "https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"}
    %script{:src => "https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"}
    = yield :script if content_for?(:script)